<style type="text/css">
	#menu .menu-mitem{
			
	}
</style>
<ul id="menu">
	<li>
		<a class="menu-mitem mitem-first" href="#">
			<img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>乳及乳制品</font>
		</a>
		<ul>
			<li>
			<div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">巴氏杀菌乳类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">巴氏杀菌乳</a></li>
								<li><a href="#">灭菌乳</a></li>
								<li><a href="#">调制乳</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">乳粉和奶油粉类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">乳粉和奶油粉</a></li>
								<li><a href="#">调制乳粉和调制奶油粉</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">稀奶油类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">稀奶油</a></li>
								<li><a href="#">凝固稀奶油</a></li>
								<li><a href="#">调味稀奶油</a></li>
								<li><a href="#">稀奶油类似品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">即食风味甜点</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">风味发酵乳类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">发酵乳</a></li>
								<li><a href="#">风味发酵乳</a></li>
							</ul>
							</div>
							<div class="menu-item">
								<h2>
									<a href="#" class="secondary">炼乳类</a><span class="arrow-icon"></span>
								</h2>
								<ul>
									<li><a href="#">淡炼乳</a></li>
									<li><a href="#">调制炼乳</a></li>
								</ul>
							</div>
							<div class="menu-item">
								<h2>
									<a href="#" class="secondary">干酪</a><span class="arrow-icon"></span>
								</h2>
								<ul>
									<li><a href="#">非熟化干酪</a></li>
									<li><a href="#">熟化干酪</a></li>
									<li><a href="#">乳清干酪</a></li>
									<li><a href="#">再制干酪</a></li>
									<li><a href="#">类干酪</a></li>
									<li><a href="#">乳清蛋白干酪</a></li>
								</ul>
							</div>
							<div class="menu-item">
								<h2>
									<a href="#" class="secondary">其他乳制品</a><span class="arrow-icon"></span>
								</h2>
								<ul></ul>
							</div>
						</div>
					</div>
				</li>
		</ul></li>
	<li><a class="menu-mitem" href="#">
			<img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>脂肪及油类</font>
		</a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">基本无水脂肪和油</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">植物油脂</a></li>
								<li><a href="#">动物油脂</a></li>
								<li><a href="#">无水黄油，无水乳脂</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">脂肪类甜品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">水油状脂肪乳化制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">脂肪含量80%以上的乳化制品</a></li>
								<li><a href="#">脂肪含量80%以下的乳化制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他油脂或油脂制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>冷冻饮品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">冰淇淋、雪糕类</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">食用冰</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">风味冰、冰棍类</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他冷冻饮品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>果蔬豆菌藻坚果类</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">水果</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">新鲜水果</a></li>
								<li><a href="#">加工水果</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">食用菌类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">新鲜食用菌和藻类</a></li>
								<li><a href="#">加工食用菌和藻类</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">坚果和籽类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">新鲜坚果与籽类</a></li>
								<li><a href="#">加工坚果与籽类</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">蔬菜</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">新鲜蔬菜</a></li>
								<li><a href="#">加工蔬菜</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">豆类制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">非发酵豆制品</a></li>
								<li><a href="#">发酵豆制品</a></li>
								<li><a href="#">其他豆制品</a></li>
							</ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>巧克力和糖果类</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">巧克力</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">可可制品</a></li>
								<li><a href="#">巧克力类制品</a></li>
								<li><a href="#">代可可脂巧克力类</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">装饰糖果类</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">糖果</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">口香糖类</a></li>
								<li><a href="#">硬质夹心糖类</a></li>
							</ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>粮食和粮食制品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">原粮</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">小麦粉及其制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">小麦粉</a></li>
								<li><a href="#">小麦粉制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">淀粉及淀粉类制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">食用淀粉</a></li>
								<li><a href="#">淀粉制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">方便米面制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">谷类和淀粉类甜品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">大米及其制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">大米</a></li>
								<li><a href="#">大米制品</a></li>
								<li><a href="#">米粉</a></li>
								<li><a href="#">米粉制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">杂粮粉及其制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">杂粮粉</a></li>
								<li><a href="#">杂粮制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">即食谷物</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">冷冻米面制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">粮食制品馅料</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>焙烤食品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">面包</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">饼干</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">夹心及装饰类饼干</a></li>
								<li><a href="#">威化饼干</a></li>
								<li><a href="#">蛋卷</a></li>
								<li><a href="#">其他饼干</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他焙烤食品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">糕点</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">中式糕点</a></li>
								<li><a href="#">西式糕点</a></li>
								<li><a href="#">月饼</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">焙烤食品馅料及表面用挂浆</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>肉及肉制品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">生、鲜肉</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">生鲜肉</a></li>
								<li><a href="#">冷却肉</a></li>
								<li><a href="#">冻肉</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">熟肉制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">酱卤肉制品类</a></li>
								<li><a href="#">熏、烧、烤肉类</a></li>
								<li><a href="#">油炸肉类</a></li>
								<li><a href="#">西式火腿类</a></li>
								<li><a href="#">肉灌肠类</a></li>
								<li><a href="#">发酵肉制品类</a></li>
								<li><a href="#">熟肉干制品</a></li>
								<li><a href="#">肉罐头类</a></li>
								<li><a href="#">可食用动物肠衣类</a></li>
								<li><a href="#">其他肉及肉制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">预制肉制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">调理肉制品</a></li>
								<li><a href="#">腌腊肉制品类</a></li>
							</ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>水产及其制品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">鲜水产</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">预制水产品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">醋渍水产品</a></li>
								<li><a href="#">腌制水产品</a></li>
								<li><a href="#">鱼子制品</a></li>
								<li><a href="#">干制水产品</a></li>
								<li><a href="#">其他预制水产品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">水产品罐头</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">冷冻水产品及其制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">冷冻制品</a></li>
								<li><a href="#">冷冻挂桨制品</a></li>
								<li><a href="#">冷冻鱼糜制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">熟制水产品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">熟干水产品</a></li>
								<li><a href="#">烹制水产品</a></li>
								<li><a href="#">熏、烤水产品</a></li>
								<li><a href="#">发酵水产品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他水产品及其制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>蛋及蛋制品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">鲜蛋</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">蛋制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">脱水蛋制品</a></li>
								<li><a href="#">热凝固蛋制品</a></li>
								<li><a href="#">冷冻蛋制品</a></li>
								<li><a href="#">液体蛋</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">再制蛋</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">卤蛋</a></li>
								<li><a href="#">糟蛋</a></li>
								<li><a href="#">皮蛋</a></li>
								<li><a href="#">咸蛋</a></li>
								<li><a href="#">其他再制蛋</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他蛋制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>甜味料</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">食糖</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">白糖及白糖制品</a></li>
								<li><a href="#">其他糖和糖浆</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">蜂蜜及花粉</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">蜂蜜</a></li>
								<li><a href="#">花粉</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">调味糖浆</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">水果调味糖浆</a></li>
								<li><a href="#">其他调味糖浆</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">淀粉糖</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">餐桌甜味料</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他甜味料</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>调味品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">盐及代盐制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">醋</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">酿造食醋</a></li>
								<li><a href="#">配制食醋</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">酱及酱制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">酿造酱</a></li>
								<li><a href="#">配制酱</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">香辛料类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">香辛料及粉</a></li>
								<li><a href="#">香辛料油</a></li>
								<li><a href="#">香辛料酱</a></li>
								<li><a href="#">其他香辛料加工品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他调味料</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">鲜味剂和助鲜剂</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">酱油</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">酿造酱油</a></li>
								<li><a href="#">配制酱油</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">料酒及制品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">复合调味料</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">固体复合调味料</a></li>
								<li><a href="#">半固体复合调味料</a></li>
								<li><a href="#">液体复合调味料</a></li>
							</ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>特殊膳食用食品</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">婴幼儿配方食品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">婴儿配方食品</a></li>
								<li><a href="#">婴幼儿配方食品</a></li>
								<li><a href="#">特殊医学用途类</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">特殊医学用途配方食品（13.01</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他食品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">婴幼儿辅助食品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">婴幼儿谷类辅助食品</a></li>
								<li><a href="#">婴幼儿罐装辅助食品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">低能量配方食品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>饮料类</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">包装饮用水类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">饮用天然矿泉水</a></li>
								<li><a href="#">饮用纯净水</a></li>
								<li><a href="#">其他饮用水</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">蛋白饮料类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">含乳饮料</a></li>
								<li><a href="#">植物蛋白饮料</a></li>
								<li><a href="#">复合蛋白饮料</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">茶、咖啡、植物饮料类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">茶饮料类</a></li>
								<li><a href="#">咖啡饮料类</a></li>
								<li><a href="#">植物饮料类</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他饮料类</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">果蔬汁类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">果蔬汁</a></li>
								<li><a href="#">浓缩果蔬汁</a></li>
								<li><a href="#">果蔬汁饮料</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">水基调味饮料类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">碳酸饮料</a></li>
								<li><a href="#">非碳酸饮料</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">固体饮料类</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">果香型固体饮料</a></li>
								<li><a href="#">蛋白型固体饮料</a></li>
								<li><a href="#">速溶咖啡</a></li>
								<li><a href="#">其他固体饮料</a></li>
							</ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>酒类</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">蒸馏酒</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">白酒</a></li>
								<li><a href="#">调香蒸馏酒</a></li>
								<li><a href="#">白兰地</a></li>
								<li><a href="#">威士忌</a></li>
								<li><a href="#">伏特加</a></li>
								<li><a href="#">朗姆酒</a></li>
								<li><a href="#">其他蒸馏酒</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">发酵酒</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">葡萄酒</a></li>
								<li><a href="#">黄酒</a></li>
								<li><a href="#">果酒</a></li>
								<li><a href="#">蜂蜜酒</a></li>
								<li><a href="#">啤酒和麦芽饮料</a></li>
								<li><a href="#">其他发酵酒类</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">配制酒</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
	<li><a class="menu-mitem" href="#"><img src="resource/img/portal/invis.gif" class="menu-desc" />
			<font>其他类</font></a>
		<ul>
			<li><div class="menu-display">
					<div class="menu-display_l">
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">果冻</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">胶原蛋白肠衣</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">膨化食品</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">茶叶、咖啡</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">酵母及其制品</a><span class="arrow-icon"></span>
							</h2>
							<ul>
								<li><a href="#">干酵母</a></li>
								<li><a href="#">其他酵母及其制品</a></li>
							</ul>
						</div>
						<div class="menu-item">
							<h2>
								<a href="#" class="secondary">其他</a><span class="arrow-icon"></span>
							</h2>
							<ul></ul>
						</div>
					</div>
				</div></li>
		</ul></li>
</ul>
<script>
$("#menu").kendoMenu({
	orientation : "vertical"
});
</script>