<div id="navbar">
	<ul class="navbar-l">
		<li><span>[</span></li>
		<li>
			<div id="navbar-login"><a href="/fsn-core/home.html">登录</a></div>
		</li>
		<li><span>&#47;</span></li>
		<li>
			<div id="navbar-register"><a href="/fsn-core/views/portal/enterprise-registe.html">注册</a></div>
		</li>
		<li><span>]</span></li>
	</ul>
	<ul class="navbar-r">
		<li class="nav-col nav-drop">
			<div>
				<div class="nav-sub-bar"><div class="favorite-img"></div><span>收藏夹</span></div>
			</div>
			<div class="navdrop">
				<div class="navpanel">
					<a href="#">我的收藏</a><a href="#">我的收藏</a>
				</div>
			</div>
		</li>
		<li class="nav-help">
			<div>
				<div class="nav-sub-bar"><!-- div class="help-img"></div --><span>帮助</span></div>
			</div>
		</li>
		<li class="nav-ngt">
			<div>
				<div class="nav-sub-bar"><div class="navigation-img"></div><span>导航</span></div>
			</div>
		</li>
	</ul>
</div>