<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10">
<title>食品安全营养信息平台</title>
<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="../../resource_new/css/reset.css"/>
	<link rel="stylesheet" href="../../resource_new/css/text.css" />
	<link rel="stylesheet" href="../../resource_new/css/grid.css" />
	<link rel="stylesheet" href="../../resource/My97DatePicker/skin/WdatePicker.css" />
	<link href="../../resource_new/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="../../resource_new/kendoui/styles/kendo.metro.min.css" rel="stylesheet" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
	<link rel="stylesheet" href="../../resource_new/css/notification.css" />
	<link rel="stylesheet" href="../../resource_new/css/manngerUI.css" />	 
<script src="../../resource_new/js/less.js" type="text/javascript"></script>
<script src="../../resource/kendoui/js/jquery.min.js"></script>
<script src="../../resource/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource/js/language/product_up_zh-cn.js"></script>
<script src="../../resource_new/js/headerFooterTemplate.js"></script>
<script type="text/javascript" src="../../resource/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../resource/js/fsn.js"></script>
<script src="../../resource/js/upload/lims.js"></script>
<script src="../../resource/js/util.js"></script>
<script src="../../resource_new/js/common/jquery.md5.js"></script>
<script src="../../resource/My97DatePicker/WdatePicker.js"></script>
<script src="../../resource/js/upload/lims.i18n.js"></script>
<script src="../../resource/js/upload/lims.upload.js"></script>
<script src="../../resource/js/account/returnGoods.js"></script>
<style type="text/css">
	td{white-space:nowrap;}
    .div-input-name{width:150px;}
    .div-input-value{width:250px;}
    .grid-font-size{font-size: 12px;}
    #content_container fieldset{
    	padding:10px;
    }
    .mb20{
    	margin-bottom:20px;
    }
    a.k-button .k-icon {
    margin-top: -2px;
    vertical-align: middle;
}
</style>
<script>
	$(document).ready(function() {
		$("fieldset input").focus(function() {
			$(this).parent().prev("label").hide();
		});
		$("fieldset input").blur(function() {
			if ($(this).val().trim().length < 1) {
				$(this).parent().prev("label").show();
			}
		});
	});
</script>
</head>
<body>
<div class="fixfooter wi1100 fl mt20">
	<div class="fullview page_title mt50 wper100 ml20" id="status_bar">
		<div class="container">
			<div class="row">
				<div class="column12">
					<span>台账管理 >> 退货台账 >> 添加</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container clearfix wper100 last" id="content_container">
	<div class="row ml20">
        <fieldset>
            <div class="div-tr">
                <div class="div-td">
                    <div class="div-td-name div-input-name" >
                        <label>购货商营业执照号：</label><font class="necessary">*</font>
                    </div>
                    <div class="div-td-value">
                        <input type="text" id="return_lic" name="return_lic"  class="k-textbox div-input-value" readonly=true />
                        <a class="k-button" onclick="return fsn.relation.openAddBus()"><span class="k-icon k-update"></span>选择</a>
                    </div>
                </div>
                <div class="div-td">
                    <div class="div-td-name div-input-name">
                        <label>购货商名称：</label><font class="necessary">*</font>
                    </div>
                    <div class="div-td-value">
                        <input type="text" id="return_busname" name="return_busname" class="k-textbox div-input-value" readonly=true />
                    </div>
                </div>
            </div>
            <div class="div-tr">
                <div class="div-td">
                    <div class="div-td-name div-input-name">
                        <label>商品条形码：</label><font class="necessary">*</font>
                    </div>
                    <div class="div-td-value">
                        <input type="text" id="add_barcode" name="return_barcode"  class="k-textbox div-input-value" readonly=true />
                        <a class="k-button" onclick="return fsn.relation.openBarcode()"><span class="k-icon k-update"></span>选择</a>
                    </div>
                </div>
                <div class="div-td">
                    <div class="div-td-name div-input-name">
                        <label>退货日期：</label><font class="necessary">*</font>
                    </div>
                    <div class="div-td-value">
                        <span class="k-datepicker div-input-value">
                            <span class="k-state-default">
                                <input type="text" id="return_time" class="div-input-value k-input"
                                       onfocus="WdatePicker()" style="width: 100%;" >
                            <!--<span class="k-icon k-i-calendar"></span>-->
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mb20">
            	<div><span><label>已选择的产品</label></span></div>
                <div><a class="k-button" onclick="return fsn.relation.cpoySelectLine()"><span class="k-icon k-add"></span>添加一行</a></div>
            </div>
            <div id="prodcut_detail" class="grid-font-size"></div>
       </fieldset>
        <fieldset>
            <span><label>退货商信息</label></span>
            <div class="div-tr">
                <div class="div-td">
                    <div class="div-td-name div-input-name" ><label>退货单位：</label></div>
                    <div class="div-td-value">
                        <input type="text" id="return_busUnit" name="return_busUnit"  class="k-textbox div-input-value" readonly=true />
                    </div>
                </div>
                <div class="div-td">
                    <div class="div-td-name div-input-name"><label>营业执照号：</label></div>
                    <div class="div-td-value">
                        <input type="text" id="return_busUnit_lic" name="return_busUnit_lic" class="k-textbox div-input-value" readonly=true />
                    </div>
                </div>
            </div>
            <div class="div-tr">
                <div class="div-td">
                    <div class="div-td-name div-input-name" ><label>联系方式：</label></div>
                    <div class="div-td-value">
                        <input type="text" id="return_busUnit_contact" name="return_busUnit_contact"  class="k-textbox div-input-value" readonly=true />
                    </div>
                </div>
                <div class="div-td">
                    <div class="div-td-name div-input-name"><label>联系地址：</label></div>
                    <div class="div-td-value">
                        <input type="text" id="return_busUnit_address" name="return_busUnit_address" class="k-textbox div-input-value" readonly=true />
                    </div>
                </div>
            </div>
        </fieldset>
        <div style="text-align: right;margin-top: 10px;">
            <a onclick="return fsn.relation.submit('save')" id="save" class="k-button"><span class="k-icon k-update"></span>保存信息</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="return fsn.relation.submit('submit')" id="submit"  class="k-button"><span class="k-icon k-update"></span>确定退货</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a onclick="return fsn.relation.goBack()" class="k-button"><span class="k-icon k-delete"></span>返回</a>&nbsp;&nbsp;
        </div>
	</div>
        <div id="BUS_WIN">
            <div style="margin-top:10px;margin-bottom:10px;margin-left: 30px;font-size: 14px;text-align: center;">
                <span><label>供货商名称 </label></span>
                <input type="text" id="bus_name_q" class="k-textbox" style="width: 200px;margin-right: 10px;"/>
                <span><label>供货商执照号 </label></span>
                <input type="text" id="bus_lic_q" class="k-textbox" style="width: 150px;margin-right: 10px;"/>
                    <span style="text-align: right;">
                        <a onclick="return fsn.relation.queryBus('BUS_WIN')"  class="k-button"><span class="k-icon k-filter"></span>查询</a> &nbsp;&nbsp;
                    </span>
            </div>
            <div id = "bus_grid" class="grid-font-size"></div>
            <div style="text-align: right;margin-top: 10px;font-size: 14px;">
                <a onclick="return fsn.relation.addReturnBus()"  class="k-button"><span class="k-icon k-update"></span>确定</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a onclick="return fsn.relation.closeReturnBus()" class="k-button"><span class="k-icon k-delete"></span>取消</a>&nbsp;&nbsp;
            </div>
        </div>
        <div id="OPEN_PRODUCT_WIN">
            <div style="margin-top:10px;margin-bottom:10px;margin-left: 30px;font-size: 14px;text-align: center;">
                <span><label>产品名称 </label></span>
                <input type="text" id="pro_name_q" class="k-textbox" style="width: 200px;margin-right: 10px;"/>
                <span><label>产品条形码 </label></span>
                <input type="text" id="pro_bar_q" class="k-textbox" style="width: 150px;margin-right: 10px;"/>
                    <span style="text-align: right;">
                        <a onclick="return fsn.relation.queryBus('OPEN_PRODUCT_WIN')"  class="k-button"><span class="k-icon k-filter"></span>查询</a> &nbsp;&nbsp;
                    </span>
            </div>
            <div id = "product_grid" class="grid-font-size"></div>
            <div style="text-align: right;margin-top: 10px;font-size: 14px;">
                <a onclick="return fsn.relation.addReturnProduct()"  class="k-button"><span class="k-icon k-update"></span>确定</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a onclick="return fsn.relation.closeReturnProduct()" class="k-button"><span class="k-icon k-delete"></span>取消</a>&nbsp;&nbsp;
            </div>
        </div>
        <div id="CONFIRM_SUBMIT">
            <div id="CONFIRM_SUBMIT_MSG" style="text-align: center;">
                <span><label>确认提交退货信息后将不能修改,<br/>是否确认提交?</label></span>
            </div>
            <div style="text-align: right;margin-top: 20px;text-align: center;">
                <a onclick="return fsn.relation.yesSubmit()"  class="k-button"><span class="k-icon k-update"></span>确定</a> &nbsp;&nbsp;&nbsp;&nbsp;
                <a onclick="return fsn.relation.noSubmit()" class="k-button"><span class="k-icon k-delete"></span>取消</a>&nbsp;&nbsp;
            </div>
        </div>
	</div>
	<div id="CONFIRM_COMMON_WIN" style="display:none;">
			<div id="listView">
				<div id="CONFIRM_MSG" style="text-align: center;">
				</div>
				<br/>
				<div style="text-align: right;">
					<button id="confirm_yes_btn"><span class="k-icon k-update"></span><label data-lims-text="OK"></label></button> &nbsp;&nbsp;&nbsp;&nbsp;
					<button id="confirm_no_btn"><span class="k-icon k-cancel"></span><label data-lims-text="Cancel"></label></button>&nbsp;&nbsp;
				</div>
				<div id="msg_success" class="msg success function_row" style="margin-top: 10px;"></div>
			</div>
	</div>
	<div class="push"></div>
</div>
<!-- 页面提示信息框 -->
<div id="toSaveWindow">
  	<label id="saving_msg" style="font-size: 16px"></label>
</div>
<span id="RETURN_MES" style="display:none;"></span>
<script id="errorTemplate" type="text/x-kendo-template">
  <div class="wrong-pass">
     <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
     <br/>
     <img src="../../resource/img/error-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
<script id="successTemplate" type="text/x-kendo-template">
  <div class="upload-success">
  <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
  <br/>
  <img src="../../resource/img/success-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
</body>
</html>