<!DOCTYPE html>
<html>
<head>
<title>食品安全营养信息平台</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=10">
<link rel="stylesheet" href="../../resource_new/css/reset.css" />
<link rel="stylesheet" href="../../resource_new/css/text.css" />
<link rel="stylesheet" href="../../resource_new/css/grid.css" />
<link href="../../resource_new/kendoui/styles/kendo.common.min.css"rel="stylesheet" />
<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
<link rel="stylesheet" href="../../resource_new/css/notification.css" />
<link rel="stylesheet" href="../../resource_new/css/index_guid.css" />
<link href="../../resource_new/css/city/cityLayout.css" rel="stylesheet"/>
<script src="../../resource_new/js/less.js" type="text/javascript"></script>
<script src="../../resource_new/js/jquery-1.8.0.min.js"></script>
<script src="../../resource_new/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource_new/js/jquery.cookie.js"></script>
<script src="../../resource_new/js/portal/common.js"></script>
<script src="../../resource_new/js/lims.i18n.js"></script>
<script src="../../resource_new/js/fsn.js"></script>
<script src="../../resource_new/js/lims.js"></script>
<script src="../../resource_new/js/headerFooterTemplate.js"></script>
<script src="../../resource_new/js/portal/jquery.form.js"></script>
<script src="../../resource_new/js/upload/lims.js"></script>
<script src="../../resource_new/js/util.js"></script>
<script src="../../resource_new/kendoui/js/cultures/kendo.culture.zh-CN.min.js"></script>
<script src="../../resource_new/js/language/list_product_addQs_zh-cn.js"></script>
<script src="../../resource_new/js/language/unit_up_zh-cn.js"></script>
<script src="../../resource_new/js/business/unit-common.js"></script>
<script src="../../resource_new/js/business/unit-market.js"></script>
<script src="../../resource_new/js/guid/unit_guid.js"></script>
<script src="../../resource_new/js/portal/brandCategoryTree.js"></script>
<script>
	$(document).ready(function() {
		$("fieldset input").focus(function() {
			$(this).parent().prev("label").hide();
		});
		$("fieldset input").blur(function() {
			if ($(this).val().trim().length < 1) {
				$(this).parent().prev("label").show();
			}
		});
	});
	
</script>
<style>
    .div-tr, .div-tr div {float: left;}
	.div-tr {width: 100%; padding-bottom: 10px;}
	.div-td {width: 50%; line-height: 30px;}
	.div-td-full {width: 100%;}
	.div-td textarea {width:440px; height:80px; max-width: 440px; min-width: 200px;}
	.div-td-add {padding-right: 4px; width: 86%;}
	.div-td-value input {width: 370px;}
	.div-td-name {width: 150px;}
	.necessary{color:#f00}
	.column12 fieldset {
		border:none;
		font-family: Verdana, 'Microsoft YaHei', sans-serif;
		font-size: 14px;
		color: #0f941a;
	}
	.k-upload-button {
    	width: 200px;
  	}
  	
  	.header{
   	 	font-size: 15px;
    	font-weight: bold;
    	color:white;
    	height:30px;
    	width:100%;
    	padding-left:20px;
    	background:#80de40;
  	} 
  	.k-grid-header .k-header {
  		color: #47B139;
    	font-weight: bold;
  		background: none repeat scroll 0 0 #F5F5F5;
  	}
  	.gzlt-div{
  		display:none;
  	}
</style>
</head>
<body id="home">

	<div class="fixfooter">
		<div class="fullview" id="status_bar">
			<div class="container">
				<div class="row">
					<div class="column12">
						<span class="page_title" >当前位置：基本信息</span>
						
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="container clearfix">
			<div class="column12">
					<div class="header"><span>企业Logo</span></div>
					<fieldset>
						<div class="div-tr">
							<div class="div-td">
								<label id="proFileMsgLogo" style="font-size: 12px;color:red;">
									(注意:为保证更流畅的体验，建议每次上传照片不超过1M！ 可支持文件格式：png .bmp .jpeg .jpg )
								</label>
							</div>
						</div>
						
						<div class="div-tr">
							<div class="div-td">
								<div id="upload_logo_div">
									<!-- <input type="file" id="upload_logo_files"/> -->
		   						</div>
							</div>
							<div class="div-td-name"><label for="name">企业简介：</label><font class="necessary"></font></div>
							<div class="div-td-value">
								<textarea type="text" id="product_about" name="product_about" class="k-textbox" style=" width:370px" ></textarea>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div id="logoListView">
		       						<div id="logoAttachmentsListView"></div>
		  						</div>
							</div>
							<div class="div-td-name"><label for="personInCharge">企业官网：</label><font class="necessary"></font></div>
							<div class="div-td-value">
								<input type="text" id="website" name="official_website" class="k-textbox" />
							</div>
						</div>
					</fieldset>
					<div class="header"><span>交易市场基本信息</span></div>
            		<fieldset>
            			<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="name">企业名称：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input type="hidden" id="id" name="id" value=""/>
									<input type="text" id="name" name="name" class="k-textbox" value="" required validationMessage="不能为空"/>
									<span id = "isExist" class="necessary"></span>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="personInCharge">法定代表人：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input type="text" id="personInCharge" name="personInCharge" class="k-textbox" required validationMessage="不能为空"/>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="address">企业地址：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input id="bus_mainAddr" autocomplete="off" type="text" placeholder="在这里选择省市县" style="width:150px;"
										class="k-textbox ipt norWidthIpt city_input inputFocus proCityQueryAll proCitySelAll current2" required validationMessage="不能为空"/>
									<label>街道地址:</label>
									<input id="bus_streetAddress" class="k-textbox" style="width:139px;" required validationMessage="不能为空"/>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="email">邮箱：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="email" name="email" class="k-textbox" required validationMessage="不能为空"/></div>
							</div>
						</div>
						<div class="div-tr">							
							<div class="div-td">
								<div class="div-td-name"><label for="contact">联系人：</label></div>
								<div class="div-td-value"><input type="text" id="contact" name="contact" class="k-textbox" /></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="postalCode">邮政编码：</label></div>
								<div class="div-td-value"><input type="text" id="postalCode" name="postalCode" class="k-textbox" />
                                </div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="telephone">联系电话：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="telephone" name="telephone" class="k-textbox" />
                                </div>
							</div>
 							<div class="div-td">
								<div class="div-td-name"><label for="fax">传真：</label></div>
								<div class="div-td-value"><input type="text" id="fax" name="fax" class="k-textbox" /></div>
							</div>
						</div>
						<div class="div-tr">
		  					<div class="div-td">
		  						<div class="div-td-name"><span>所属区划：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value">
		  							<input style="width:300px;" type = "text"  class="k-textbox"  disabled="disabled" id = "belongAreaGroupName" name = "belongAreaGroupName"/>
									<input type = "hidden" id = "belongAreaGroupId" name = "belongAreaGroupId">
									<button id = "belongAreaGrouBtn" class="k-button">选择</button>
		  						</div>
		  					</div>
		  					<div class="div-td">
		  						<div class="div-td-name"><span>管辖食药监机关：</span><font class="necessary">*</font></div>
		  						<input style="width:300px;" type = "text"  class="k-textbox"  disabled="disabled" id = "authoritiesGroupName" name = "authoritiesGroupName"/>
								<input type = "hidden" id = "authoritiesGroupId" name = "authoritiesGroupId">
								<button id = "authoritiesGrouBtn" class="k-button">选择</button>
		  					</div>
		  				</div>
						<div class="div-tr">
		  					<div class="div-td">
		  						<div class="div-td-name"><span>地区类型：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value"><input id="busDistricType"/></div>
		  					</div>
		  					<div class="div-td">
		  						<div class="div-td-name"><span>地域类型：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value"><input id="busAreaType"/></div>
		  					</div>
		  				</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><span>前置许可证号：</span></div>
		  						<div class="div-td-value"><input type="text" id="prepositionQS" name="prepositionQS" class="k-textbox" /></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><span>市场开办方名称：</span></div>
		  						<div class="div-td-value"><input type="text" id="buildName" name="buildName" class="k-textbox" /></div>
							</div>
						</div>		
						
						<div class="div-tr">
							<div class="div-td">
		  						<div class="div-td-name"><span>场所类型：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value"><input id="placeType"/></div>
		  					</div>
						</div>
						<div class="div-tr">
							<div class="div-tr" style="margin:10px 10 -20px -10px;">
		  						<div class="div-td-name"><span>备注信息：</span></div>
		  						<div class="div-td-value"><textarea rows="3" cols="60" id="note"></textarea></div>
		  					</div>
						</div>
					</fieldset>
					<div class="header">营业执照信息</div>
					<fieldset>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="licenseNo">营业执照注册号：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input type="text" id="licenseNo" name="licenseNo" class="k-textbox"/>
									<span id = "isLicenseNo" class="necessary"></span>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="licenseName">经营主体名称：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input type="text" id="licenseName" class="k-textbox" required validationMessage="不能为空"/>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="legalName">法人代表(负责人)：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input type="text" id="legalName" class="k-textbox" required validationMessage="不能为空"/>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="licenseTime">有效期限：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input type="text" id="licenseStartTime" placeholder="例如:2014-01-01" required validationMessage="不能为空"/>
									<input type="hidden" id="test_time_format" value="" style="display:none;"/>
                					至
                					<input type="text" id="licenseEndTime" placeholder="例如:2014-01-01" required validationMessage="不能为空"/>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="registrationTime">注册时间：</label></div>
								<div class="div-td-value">
									<input type="text" id="registrationTime" placeholder="例如:2014-01-01"/>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="issuingAuthority">发照机关：</label></div>
								<div class="div-td-value">
									<input type="text" id="issuingAuthority" class="k-textbox"/>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="subjectType">主体类型：</label></div>
								<div class="div-td-value">
									<input type="text" id="subjectType" class="k-textbox"/>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="businessAddress">经营场所(企业地址)：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input id="license_mainAddr" autocomplete="off" type="text" placeholder="在这里选择省市县" style="width:150px;"
										class="k-textbox ipt norWidthIpt city_input inputFocus proCityQueryAll proCitySelAll current2" required validationMessage="不能为空"/>
									<label>街道地址:</label>
									<input id="license_streetAddress" class="k-textbox" style="width:139px;" required validationMessage="不能为空"/>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="toleranceRange">许可范围：</label></div>
								<div class="div-td-value">
									<input type="text" id="toleranceRange" class="k-textbox"/>
								</div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="registeredCapital">注册资金：</label></div>
								<div class="div-td-value">
									<input type="text" id="registeredCapital" class="k-textbox"/>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-value">
									<div class="div-tr">
										<label id="proFileMsgLicense" style="font-size: 12px;color:red;">
											(注意:为保证更流畅的体验，建议每次上传照片不超过1M！ 可支持文件格式：png .bmp .jpeg .jpg )
										</label>
									</div>
									<div id="upload_license_div">
											<!-- <input type="file" id="upload_license_files"/> -->
		   							</div>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td">
									<div id="logListView">
										<button id="btn_clearLicenseFiles" class='k-button'><span data-fsn-text="empty"></span></button>
		       							<div id="licenseAttachmentsListView"></div>
		  							</div>
							</div>
							</div>
						</div>
					</fieldset>
					<div class="header">组织机构代码证件</div>
            		<fieldset>
            			<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="orgCode">组织机构代码：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="orgCode" name="orgCode" class="k-textbox"/></div>
								<span id = "isLicenseNo" class="necessary"></span>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="orgCode">有效期限：</label><font class="necessary">*</font></div>
								<input type="text" id="orgStartTime" placeholder="例如:2014-01-01" required validationMessage="不能为空"/>
                				至
                				<input type="text" id="orgEndTime" placeholder="例如:2014-01-01" required validationMessage="不能为空"/>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="orgName">组织机构名称：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="orgName" class="k-textbox" required validationMessage="不能为空"/></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="unitsAwarded">颁发单位：</label></div>
								<div class="div-td-value"><input type="text" id="unitsAwarded" class="k-textbox" /></div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="orgType">组织机构类型：</label></div>
								<div class="div-td-value"><input type="text" id="orgType" class="k-textbox" /></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="orgAddress">组织机构地址：</label><font class="necessary">*</font></div>
								<input id="org_mainAddr" autocomplete="off" type="text" placeholder="在这里选择省市县" style="width:150px;"
										class="k-textbox ipt norWidthIpt city_input inputFocus proCityQueryAll proCitySelAll current2" required validationMessage="不能为空"/>
									<label>街道地址:</label>
									<input id="org_streetAddress" class="k-textbox" style="width:139px;" required validationMessage="不能为空"/>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-value">
									<div class="div-tr">
										<label id="proFileMsgOrg" style="font-size: 12px;color:red;">
											(注意:为保证更流畅的体验，建议每次上传照片不超过1M！ 可支持文件格式：png .bmp .jpeg .jpg )
										</label>
									</div>
									<div id="upload_org_div">
											<!-- <input type="file" id="upload_orgnization_files"/> -->
		   							</div>
								</div>
								<div class="div-td">
									<div id="logListView">
										<button id="btn_clearOrgFiles" class='k-button'><span data-fsn-text="empty"></span></button>
		       							<div id="orgAttachmentsListView"></div>
		  							</div>
								</div>
							</div>
						</div>
		  			</fieldset>
		  			<div class="header">食品流通许可证信息</div>
		  			<fieldset>
            			<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="distributionNo">食品流通许可证编号：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="distributionNo" class="k-textbox" required validationMessage="不能为空"/></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="licensingAuthority">许可机关：</label></div>
								<div class="div-td-value"><input type="text" id="licensingAuthority" class="k-textbox"/></div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="distributionName">名称：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="distributionName" class="k-textbox" required validationMessage="不能为空"/></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="orgCode">有效期限：</label><font class="necessary">*</font></div>
								<input type="text" id="disStartTime" placeholder="例如:2014-01-01" required validationMessage="不能为空"/>
                				至
                				<input type="text" id="disEndTime" placeholder="例如:2014-01-01" required validationMessage="不能为空"/>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="disSubjectType">主体类型：</label></div>
								<div class="div-td-value"><input type="text" id="disSubjectType" class="k-textbox"/></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="disAddress">经营场所：</label><font class="necessary">*</font></div>
								<div class="div-td-value">
									<input id="dis_mainAddr" autocomplete="off" type="text" placeholder="在这里选择省市县" style="width:150px;"
										class="k-textbox ipt norWidthIpt city_input inputFocus proCityQueryAll proCitySelAll current2" required validationMessage="不能为空"/>
									<label>街道地址:</label>
									<input id="dis_streetAddress" class="k-textbox" style="width:139px;" required validationMessage="不能为空"/>
								</div>
							</div>
						</div>
						<div class="div-tr">							
							<div class="div-td">
								<div class="div-td-name"><label for="permitLicenseChange">换证情况：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="permitLicenseChange" class="k-textbox"/></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="disLegalName">负责人：</label><font class="necessary">*</font></div>
								<div class="div-td-value"><input type="text" id="disLegalName" class="k-textbox" required validationMessage="不能为空"/></div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-name"><label for="busRunType">经营方式：</label></div>
								<div class="div-td-value"><input type="text" id="busRunType" class="k-textbox"/></div>
							</div>
							<div class="div-td">
								<div class="div-td-name"><label for="busRunProject">经营项目：</label></div>
								<div class="div-td-value"><input type="text" id="busRunProject" class="k-textbox" /></div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td-name"><label>许可时间:</label></div>
							<div class="div-td-value"><input type="text" id="licenseDate" /></div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div class="div-td-value">
									<div class="div-tr">
										<label id="proFileMsgDistribution" style="font-size: 12px;color:red;">
											(注意:为保证更流畅的体验，建议每次上传照片不超过1M！ 可支持文件格式：png .bmp .jpeg .jpg )
										</label>
									</div>
									<div id="upload_distribution_div">
											<!-- <input type="file" id="upload_distribution_files"/> -->
		   							</div>
								</div>
							</div>
						</div>
						<div class="div-tr">
							<div class="div-td">
								<div id="disListView">
									<button id="btn_clearDisFiles" class='k-button' style='display: flex;'><span data-fsn-text="empty"></span></button>
		       						<div id="disAttachmentsListView"></div>
		  						</div>
							</div>
						</div>
					</fieldset>
					<div class="gzlt-div">
					<div class="header">企业其他信息</div>
		  			<fieldset>
		  				<div class="div-tr">
		  					<div class="div-td">
		  						<div class="div-td-name"><span>所属区划：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value">
		  							<input style="width:300px;" type = "text"  class="k-textbox"  disabled="disabled" id = "belongAreaGroupName" name = "belongAreaGroupName"/>
									<input type = "hidden" id = "belongAreaGroupId" name = "belongAreaGroupId">
									<button id = "belongAreaGrouBtn" class="k-button">选择</button>
		  						</div>
		  					</div>
		  					<div class="div-td">
		  						<div class="div-td-name"><span>管辖食药监机关：</span><font class="necessary">*</font></div>
		  						<input style="width:300px;" type = "text"  class="k-textbox"  disabled="disabled" id = "authoritiesGroupName" name = "authoritiesGroupName"/>
								<input type = "hidden" id = "authoritiesGroupId" name = "authoritiesGroupId">
								<button id = "authoritiesGrouBtn" class="k-button">选择</button>
		  					</div>
		  				</div>
		  				<div class="div-tr">
		  					<div class="div-td">
		  						<div class="div-td-name"><span>地区类型：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value"><input id="busDistricType"/></div>
		  					</div>
		  					<div class="div-td">
		  						<div class="div-td-name"><span>地域类型：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value"><input id="busAreaType"/></div>
		  					</div>
		  				</div>
		  				<div class="div-tr">
		  					<div class="div-td">
		  						<div class="div-td-name"><span>营业状态：</span><font class="necessary">*</font></div>
		  						<div class="div-td-value"><input id="busRunStatus"/></div>
		  					</div>
		  				</div>
		  				
		  				<div class="div-tr">
		  					<table>
		  						<tr>
		  						  	<td><span>其他性质：</span><font class="necessary">*</font></td>
		  						  	<td name="td_QRXZ">
		  						  		<input type="checkbox" id="13" /><span>校园周边&nbsp;</span>
 										<input type="checkbox" id="14" /><span>旅游景区&nbsp;</span>
 										<input type="checkbox" id="15" /><span>民族地区&nbsp;</span>
 										<input type="checkbox" id="16" /><span>公交沿线&nbsp;</span>
 										<input type="checkbox" id="17" /><span>火车站周边&nbsp;</span>
 										<input type="checkbox" id="18" /><span>机场周边 &nbsp;</span>
 										<input type="checkbox" id="19" /><span>汽车站周边&nbsp;</span>
 										<input type="checkbox" id="20" /><span>其他性质 </span>
		  						  	</td>
		  						</tr>
		  						<tr>
		  							<td><span>经营主体情况:</span><font class="necessary">*</font></td>
		  							<td name="td_JYZTQK">
		  								<input type="checkbox" name="is_SJAQSF"/><span>是否食品安全示范店（
		  									<input type="radio" id="21" data-checkbox="is_SJAQSF" name="group1"/><span>省级</span>
		  									<input type="radio" id="22" data-checkbox="is_SJAQSF" name="group1"/><span>市级</span>
		  									<input type="radio" id="23" data-checkbox="is_SJAQSF" name="group1"/><span>县级</span>）
		  								</span><br>
		  								<input type="checkbox" id="24"/><span>是否食品流通行业协会会员</span><br>
		  								<input type="checkbox" id="25"/><span>是否执行"易票通" </span><br>
		  								<input type="checkbox" id="26"/><span>是否执行索证索票 </span><br>
		  								<input type="checkbox" id="27"/><span>是否建立电子台帐 </span><br>
		  								<input type="checkbox" name="is_ZJQYJH"/><span>是否直接从企业进货（
		  									<input type="checkbox" id="28" data-checkbox="is_ZJQYJH" /><span>省内</span>
		  									<input type="checkbox" id="29" data-checkbox="is_ZJQYJH" /><span>省外</span>）
		  								</span><br>
		  								<input type="checkbox" id="30"/><span>是否直接从省外流通环节食品经营主体进货 </span><br>
		  								<input type="checkbox" id="31"/><span>其他情况 </span>
		  							</td>
		  						</tr>
		  						<tr>
		  							<td><span>经营重点食品情况:</span><font class="necessary">*</font></td>
		  							<td name="td_JYZDSP">
		  								<input type="checkbox" name="is_JYRZP"/><span>是否经营乳制品</span>（
		  									<input type="radio" id="32" data-checkbox="is_JYRZP" name="group3"/><span>含婴幼儿配方乳粉</span>
		  									<input type="radio" id="33" data-checkbox="is_JYRZP" name="group3"/><span>不含婴幼儿配方乳粉</span>）
		  								<br>
		  								<input type="checkbox" id="34"/><span>是否经营儿童食品 </span><br>
		  								<input type="checkbox" name="is_TGRQ"/><span>是否经营特供特定人群主辅食品</span>（
		  									<input type="checkbox" id="35" data-checkbox="is_TGRQ" /><span>中老年食品</span>
		  									<input type="checkbox" id="36" data-checkbox="is_TGRQ" /><span>婴幼儿食品</span>
		  									<input type="checkbox" id="37" data-checkbox="is_TGRQ" /><span>其他食品</span>）
		  								<br>
		  								<input type="checkbox" id="38"/><span>是否经营食品添加剂 </span><br>
		  								<input type="checkbox" name="is_JYSYY"/><span>是否经营食用油（
		  									<input type="checkbox" id="39" data-checkbox="is_JYSYY" /><span>预包装</span>
		  									<input type="checkbox" id="40" data-checkbox="is_JYSYY" /><span>散装</span>）</span>
		  								<br>
		  								<input type="checkbox" name="is_JYBJ"/><span>是否经营白酒（
		  									<input type="checkbox" id="41" data-checkbox="is_JYBJ" onclick="business_unit.testFun();"/><span>预包装</span>
		  									<input type="checkbox" id="42" data-checkbox="is_JYBJ" /><span>散装</span>）</span>
		  								<br>
		  								<input type="checkbox" id="43"/><span>是否经营清真食品 </span><br>
		  								<input type="checkbox" id="44"/><span>其他情况 </span>
		  							</td>
		  						</tr>
		  					</table>
		  					<div class="div-tr" style="margin:10px 0 -20px -10px;">
		  						<div class="div-td-name"><span>备注信息：</span></div>
		  						<div class="div-td-value"><textarea rows="3" cols="60" id="busNote"></textarea></div>
		  					</div>
		  				</div>
		  			</fieldset>
		  			</div>
		  			
		  			<div class="div-tr" style="margin-bottom:50px;">
							<div class="div-td">
								<button class="k-button" id="save"><span class="k-icon k-save"></span><span class="ui-button-text" >保存</span></button>
								<button class="k-button" id="upload"><span class="k-icon k-update"></span><span class="ui-button-text" >上传交易市场信息</span></button>
							</div>
						</div>	
					<div id="msg_success" class="msg success"  style="margin-left: 0px; padding-top: 2%;"></div>
					<script type="text/x-kendo-tmpl" id="uploadedFilesTemplate">
						&nbsp;&nbsp;<a href="#= attachments.url #" target="_blank">#:attachments.fileName #</a>
						<button class="k-button" onclick="return fsn.business_unit.removeRes(#=attachments.id#)">
        				<span class="k-icon k-cancel"></span>删除</button><br><br>
    				</script>			
		<div id="k_window">
			<span id="winMsg"></span>
		</div>
		<!-- <div id="areaAndOfficeWin">
			<div id="areaTreeView"></div>
			<div style="text-align: right;">
				<button id="areaOk"><span>确定</span></button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button id="areaCance"><span>取消</span></button>&nbsp;&nbsp;
			</div>
		</div> -->
	<!-- Tree选择窗口 -->
	<div class="treeWin_div"><div id="areaAndOfficeWin"><div id="listView"></div></div></div>
	<span id="RETURN_MES" style="display:none;"></span>
    <script id="errorTemplate" type="text/x-kendo-template">
                <div class="wrong-pass">
                    <img src="../../resource_new/img/error-icon.png" />
                    <h3 style="width:240px;">#= message #</h3>
                </div>
    </script>
    <script id="successTemplate" type="text/x-kendo-template">
                <div class="upload-success">
                    <img src="../../resource_new/img/success-icon.png" />
                    <h3 style="width:240px;">#= message #</h3>
                </div>
	</script>
				
			</div>
		</div>
	</div>
	<!-- 页面引导 start-->
	<div style="position:fixed;right:-2em;bottom:50px;width:150px;">
   		<div onclick="return fsn.startForwMeStep();"><img src="http://qa.fsnrec.com/portal/guid/unit/unit_newintroduce.png" /></div>
  	</div>
  	
   <div id="followMeDiv"></div>
   
    <div class="stepContent" style="top:80px;">
   	<div id="followMeStep" style="display:none;">
   	   	<a name="stp1"></a>
        <img id="imgs" class="noneStyle"/>
       	<div style="position:relative;top:-2.7em;left:16.2em;width:73px;height:29px;">
       		<a class="noneStyle" href="javascript:void(0);" onclick="return fsn.backStep();" title="上一页">
        		<div style="width:35px;height:29px;color:red;"></div>
       		</a>
       </div>
       <div style="position:relative;top:-4.5em;left:19em;width:73px;height:29px;">
       		 <a class="noneStyle" href="javascript:void(0);" onclick="return fsn.nextStep();" title="下一页">
        		<div style="width:35px;height:29px;color:red;"></div>
       		</a>
       </div>
       <div style="position:relative;top:-6.4em;left:21.8em;width:25px;height:20px;">
       		<a class="noneStyle" href="javascript:void(0);" onclick="return fsn.cancelStep();" title="关闭引导">
        		<div style="width:35px;height:29px;color:red;"></div>
       		</a>
       </div>
    </div>
   </div>
   <!-- 页面引导 end-->

   <!--弹出省省市-->
    <!-- 弹出地名选择控件 -->
    <div class="provinceCityAll">
	  <div class="tabs clearfix">
	    <ul class="">
	      <li><a href="javascript:" class="current" tb="hotCityAll">热门城市</a></li>
	      <li><a href="javascript:" tb="provinceAll">省份</a></li>
	      <li><a href="javascript:" tb="cityAll" id="cityAll">城市</a></li>
	      <li><a href="javascript:" tb="countyAll" id="countyAll">区县</a></li>
	    </ul>
	  </div>
	  <div class="con">
	    <div class="hotCityAll invis">
	      <div class="pre"><a></a></div>
	      <div class="list">
	        <ul></ul>
	      </div>
	      <div class="next"><a class="can"></a></div>
	    </div>
	    <div class="provinceAll invis">
	      <div class="pre"><a></a></div>
	      <div class="list">
	        <ul></ul>
	      </div>
	      <div class="next"><a class="can"></a></div>
	    </div>
	    <div class="cityAll invis">
	      <div class="pre"><a></a></div>
	      <div class="list">
	        <ul></ul>
	      </div>
	      <div class="next"><a class="can"></a></div>
	    </div>
	    <div class="countyAll invis">
	      <div class="pre"><a></a></div>
	      <div class="list">
	        <ul>
	        </ul>
	      </div>
	      <div class="next"><a class="can"></a></div>
	    </div>
	  </div>
	</div>	
</body>
<script src="../../resource_new/js/city/citypublic.js"></script>
</html>