<div class="wicon mgn_center">
    <div class="in-block fl w300 h120 mt30" id="logo1">
        <a class="w300 h120 in-block"  href="/fsn-core/">
            <img class="noneborder" src="/fsn-core/resource/img/index/logo_1.png"/>
        </a>
    </div>
    <div class="in-block fr w450 h120 colorfff mt30">
        <div class="w tr" id="unloginstatus">
            <a id="login" class="fl4 fonthei pdlf8 in-block">
                企业门户登录
            </a>
            
        </div>
        <div class="w tr none" id="loginstatus">
            <a id="welcome" class="fl4 fonthei pdlf8 in-block">
            </a>
            <a id="exit" class="fl4 fonthei pdlf8 in-block none">
                安全退出
            </a>
        </div>  
    </div>
 </div>
