@charset "utf-8";
*{font-size: 12px; font-family:"Arial", "Microsoft Yahei", "宋体", "Verdana", "Helvetica", "sans-serif", Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans","sans-serif";}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td
{margin: 0; padding: 0;}
ul,ol {list-style: none;}
a, span {font-size: 12px; color: black; text-decoration: none; color: #6c6c6c;}
a:hover {color: #92bd00;}

/*pagination*/
.pagination a {
	color: 	#008800;
    text-decoration: none;
	border: 1px solid #aae;
}
.pagination a, .pagination span {
    display: inline-block;
    margin-right: 5px;
	margin-bottom: 5px;
	padding: 0.1em 0.4em;
}
.pagination .current {
	color: #fff;
    background: #008800;
	border: 1px solid #aae;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	background:#fff;
	border-color:#999;
}

/*menu-bar*/
#head-end{
	height:35px;
	width:100%;
	margin-bottom:5px;
	background:url(../../img/portal/greenback.png) repeat-x;
}

/*separator*/
.lmimg {
	height: 29px;
	width: 1024px;
	line-height: 29px;
	overflow: hidden;
	background: url(../../img/portal/index-col.png) repeat-x;
}

.lmimg-com{
	position: relative;
	left: 38px;
	top: 1px;
	float: left;
	width: 112px;
	height: 30px;
	text-align:center;
	background: url(../../img/portal/index_tool.png) no-repeat;
}

/*main*/
#main {width: 1024px;margin: 0px auto;}