#main {min-height: 600px; text-align: center;}
.error-content {position: relative;}
#pic404 {max-width: 1024px;}
#btn-return{position:absolute;left:285px;top:180px;display:block;width:100px;height:130px;}