<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>食品安全营养信息平台  - ERP</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<link rel="stylesheet" href="../../resource_new/css/reset.css" />
	<link rel="stylesheet" href="../../resource_new/css/text.css" />
	<link rel="stylesheet" href="../../resource_new/css/grid.css" />
	<link href="../../resource_new/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
	<link rel="stylesheet" href="../../resource_new/css/notification.css" />
	<link rel="stylesheet" href="../../resource_new/css/index_guid.css" />
	<link rel="stylesheet" href="../../resource_new/css/manngerUI.css" />
	<link rel="stylesheet" href="../../resource/js/slides/css/global.css" />
	<script src="../../resource_new/js/less.js" type="text/javascript"></script>
<script src="../../resource/kendoui/js/jquery.min.js"></script>
<script src="../../resource/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource_new/js/headerFooterTemplate.js"></script>
<script src="../../resource/js/fsn.i18n.js"></script>
<script src="../../resource/js/less.js" type="text/javascript"></script>
<script src="../../resource/kendoui/js/cultures/kendo.culture.zh-CN.min.js"></script>
<script src="../../resource/js/jquery.cookie.js"></script>
	<script src="../../resource/js/slides/js/slides.min.jquery.js"></script>
<script src="../../resource/js/filter.js"></script>
<script src="../../resource_new/js/fsn.js"></script>
<script src="../../resource/js/lims.js"></script>
<script src="../../resource/js/erp/kendo_widget.js"></script>
<script src="../../resource/js/util.js"></script>
<script src="../../resource/js/procurement/raw_material_list.js"></script>
	<script>
		$(document).ready(function() {
			fsn.procurement.type=2;
			fsn.procurement.typeName="添加剂";
			fsn.procurement.recordUrl=fsn.getContextPath()+"/views/procurement/additive_record_list.html?id=";
			fsn.procurement.initialize();
		});
	</script>

<style type="text/css">
	/* td{white-space: nowrap;} */
	.k-textbox.k-input{border:1px solid;}
	.unusable{color: gray;cursor:not-allowed;}
	.unusable:hover{color: gray;background: #e5e5e5;}
	.show-area {width: 80%;margin-left: 16%;}
	.div-input-name{width:120px;}
	.add-win-div{width: 450px;margin-top: 15px;margin-top: 10px;}
	.show-area {width: 80%;margin-left: 16%;}
	.grid-font-size{font-size: 12px;}
	.line{margin-left: -20px;}
	.cond{margin-left: 15px;margin-top: 10px;margin-bottom: 10px;}
	.necessary {
		color: #f00
	}
	.k-edit-field .k-button-confirm,.k-grid-content .k-button-icontext{
		box-sizing: content-box;
		min-width: 64px;
		background-color: white;
		border: 1px solid #05bf73;
		color: #05bf73;
		cursor: pointer;
		line-height: 2em;
	}
	.k-edit-field .k-button-cancel{
		box-sizing: content-box;
		min-width: 64px;
		background-color: white;
		border: 1px solid #fd645f;
		color: #fd645f;
		cursor: pointer;
		line-height: 2em;
	}
	.k-edit-field .k-button-confirm:hover,.k-grid-content .k-button-icontext:hover{
		background-color: #05bf73;
		border: 1px solid;
		color: white;
		cursor: pointer;
	}
	.k-edit-field .k-button-cancel:hover{
		background-color: #fd645f;
		border: 1px solid;
		color: white;
		cursor: pointer;
	}
</style>

</head>
<body>
 
<div class="fixfooter">
	<div class="fullview" >
		<div class="container">
			<div class="row show-area">
				<div class="column12">
					<div class="fullview page_title mt50 wper100" id="status_bar"> 采购管理>>添加剂管理 </div>
				</div>
			</div>
		</div>
	</div>


		<div class="container clearfix" id="content_container">
			<div id="main" class="row show-area">
				<div id="tabstrip">
					<ul>
						<li class="k-state-active">添加剂台账</li>
						<li>后续处理</li>
					</ul>
					<div>
						<fieldset style="border-color:#05BF73;">
							<div class="cond">
								<label>添加剂名称：</label><input type="text" id="name_query" class="k-textbox div-input-value" />&nbsp;&nbsp;
								<a onclick="return fsn.procurement.check()"  class="k-button"><span class="k-button inputbtn">查询</span></a> &nbsp;&nbsp;
								<a onclick="return fsn.procurement.add()" class="k-button"><span class="k-button inputbtn">添加</span></a>&nbsp;&nbsp;
							</div>
						</fieldset>
						<div id="raw_material" style="margin-top: 10px;"></div>
					</div>
					<div>
						<fieldset style="border-color:#05BF73;">
							<div class="cond">
								<label>添加剂名称：</label><input type="text" id="name_query_d" class="k-textbox div-input-value" />&nbsp;&nbsp;
								<a onclick="return fsn.procurement.checkDispose()"  class="k-button"><span class="k-button inputbtn">查询</span></a> &nbsp;&nbsp;
							</div>
						</fieldset>
						<div id="raw_material_dispose" style="margin-top: 10px;"></div>
					</div>
				</div>
			</div>
		</div>
</div>


<!-- popup windows definition -->
	<div id="addPopup" style="display: none;">
		<div class="k-edit-form-container">
			<div class="k-edit-label user-edit_lable">
				<label for="name" >名称：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="name" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="provider">供应商：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="provider" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="format">规格：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="format" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="batch" >批次：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="batch" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="procurementNum" >采购数量：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="procurementNum" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="procurementDate" >采购日期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="procurementDate" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="productionDate" >生产日期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="productionDate" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="expiration" >保质期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="expiration" type="text" />
				天
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="remark" >备注：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<textarea class="k-input k-textbox lims-input" id="remark" ></textarea>
			</div>
			
			<div id="qualifiedDiv" class="k-edit-field" style="float: left;margin-left: 16px;width:80%">
				<input type="file" id="qualified" class="k-input k-textbox"  />
			</div>
			<div class="k-edit-field">
				<a onclick="return fsn.procurement.saveProcurement()" class="k-button k-button-confirm" href="javascript:void(0)">
					<span class="k-icon k-update"> </span> <span >确定</span>
				</a> 
				<a onclick="return fsn.procurement.cancelProcurement()" class="k-button k-button-cancel" href="javascript:void(0)">
					<span class="k-icon k-cancel"> </span> <span>取消</span>
				</a>
			</div>
		</div>
	</div>
	
	<!-- popup windows definition -->
	<div id="addDisposePopup" style="display: none;">
		<div class="k-edit-form-container">
			<div class="k-edit-label user-edit_lable">
				<label for="name_d" >名称：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="name_d"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="format_d">规格：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
			<span id="format_d"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="batch_d" >批次：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
			<span id="batch_d"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="surplusNum_d" >剩余数量：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="surplusNum_d"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeNum" >处理数量：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="disposeNum" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeDate" >处理日期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="disposeDate" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeCause" >处理原因：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="disposeCause" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposePlace" >处理地点：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="disposePlace" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="handler" >处理人：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="handler" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeMethod" >处理方式：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<input class="k-input k-textbox lims-input" id="disposeMethod" type="text" />
				<font class="necessary">*</font>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="remark_d" >备注：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<textarea class="k-input k-textbox lims-input" id="remark_d" ></textarea>
			</div>
			
			<div id="disposeFileDiv" class="k-edit-field" style="float: left;margin-left: 16px;width:80%">
				<input type="file" id="disposeFile" class="k-input k-textbox"  />
			</div>
			<div class="k-edit-field">
				<a onclick="return fsn.procurement.saveDispose()" class="k-button k-button-confirm" href="javascript:void(0)">
					<span class="k-icon k-update"> </span> <span >确定</span>
				</a> 
				<a onclick="return fsn.procurement.cancelDispose()" class="k-button k-button-cancel" href="javascript:void(0)">
					<span class="k-icon k-cancel"> </span> <span>取消</span>
				</a>
			</div>
		</div>
	</div>


<!-- popup windows definition -->
<div id="addConfirmPopup" style="display: none;">
	<div class="necessary">请确定您填写的数据是否正确！保存后不能修改</div>
	<div>
		<div class="k-edit-form-container" style="float:left;">
			<div class="k-edit-label user-edit_lable">
				<label for="name_c" >名称：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="name_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="provider_c">供应商：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="provider_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="format_c">规格：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="format_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="batch" >批次：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="batch_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="procurementNum_c" >采购数量：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="procurementNum_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="procurementDate_c" >采购日期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="procurementDate_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="productionDate_c" >生产日期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="productionDate_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="expiration_c" >保质期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="expiration_c" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="remark_c" >备注：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<textarea class="k-input k-textbox lims-input" disabled id="remark_c" ></textarea>
			</div>
		</div>
		<div id="slides_c" style="float:left;width: 400px;">
			<div id="slides1">
			</div>
		</div>
	</div>
	<div class="k-edit-field">
		<a onclick="return fsn.procurement.saveConfirmProcurement()" class="k-button k-button-confirm" href="javascript:void(0)">
			<span class="k-icon k-update"> </span> <span >确定</span>
		</a>
		<a onclick="return fsn.procurement.cancelConfirmProcurement()" class="k-button k-button-cancel" href="javascript:void(0)">
			<span class="k-icon k-cancel"> </span> <span>取消</span>
		</a>
	</div>

</div>

<div id="showQualifiedPopup" style="display: none;width: 900px;height: 700px" >
	<div id="slides">
	</div>
</div>


<!-- popup windows definition -->
<div id="addConfirmDisposePopup" style="display: none;">
	<div class="necessary">请确定您填写的数据是否正确！保存后不能修改</div>
	<div>
		<div class="k-edit-form-container" style="float:left;">
			<div class="k-edit-label user-edit_lable">
				<label for="name_dc" >名称：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="name_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="format_dc">规格：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="format_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="batch_dc" >批次：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="batch_dc" class="cspan"></span>
			</div>

			<div class="k-edit-label user-edit_lable">
				<label for="disposeNum_dc" >处理数量：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="disposeNum_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeDate_dc" >处理日期：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="disposeDate_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeCause_dc" >处理原因：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="disposeCause_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposePlace_dc" >处理地点：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="disposePlace_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="handler_dc" >处理人：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="handler_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="disposeMethod_dc" >处理方式：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;padding: 0.4em 0 1em;">
				<span id="disposeMethod_dc" class="cspan"></span>
			</div>
			<div class="k-edit-label user-edit_lable">
				<label for="remark_dc" >备注：</label>
			</div>
			<div class="k-edit-field" style="float: left;margin-left: 4px;">
				<textarea class="k-input k-textbox lims-input" disabled id="remark_dc" ></textarea>
			</div>
		</div>
		<div id="slides_dc" style="float:left;width: 400px;">
			<div id="slides2">
			</div>
		</div>
	</div>
	<div class="k-edit-field">
		<a onclick="return fsn.procurement.saveConfirmDisposeProcurement()" class="k-button k-button-confirm" href="javascript:void(0)">
			<span class="k-icon k-update"> </span> <span >确定</span>
		</a>
		<a onclick="return fsn.procurement.cancelConfirmDisposeProcurement()" class="k-button k-button-cancel" href="javascript:void(0)">
			<span class="k-icon k-cancel"> </span> <span>取消</span>
		</a>
	</div>

</div>


<div id="k_window">
	<span id="winMsg">正在保存数据，请稍候....</span>
</div>

<!-- 页面提示信息框 -->
<span id="RETURN_MES" style="display:none;"></span>
<script id="errorTemplate" type="text/x-kendo-template">
  <div class="wrong-pass">
     <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 260px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
     <br/>
     <img src="../../resource/img/error-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
<script id="successTemplate" type="text/x-kendo-template">
  <div class="upload-success">
  <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 260px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
  <br/>
  <img src="../../resource/img/success-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
</body>
</html>