<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10">
	<title>食品安全营养信息平台 V1.</title>
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="../../resource_new/css/reset.css" />
	<link rel="stylesheet" href="../../resource_new/css/text.css" />
	<link rel="stylesheet" href="../../resource_new/css/grid.css" />
	<link href="../../resource_new/kendoui/styles/kendo.common.min.css"rel="stylesheet" />
	<link href="../../resource_new/kendoui/styles/kendo.default.min.css"rel="stylesheet" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
	<link rel="stylesheet" href="../../resource_new/css/pushMessage.css" />
	<link rel="stylesheet" href="../../resource_new/css/notification.css" />
	<link rel="stylesheet" href="../../resource_new/css/manngerUI.css" />
	<script src="../../resource_new/js/less.js" type="text/javascript"></script>
	<script src="../../resource_new/kendoui/js/jquery.min.js"></script>
	<script src="../../resource_new/kendoui/js/kendo.web.min.js"></script>
	<script src="../../resource_new/js/headerFooterTemplate.js"></script>
	<script src="../../resource_new/js/jquery.cookie.js"></script>
	<script src="../../resource_new/js/fsn.js"></script>
	<script src="../../resource_new/js/lims.js"></script>
	<script src="../../resource_new/js/fsn.i18n.js"></script>
	<script src="../../resource_new/js/util.js"></script>
	<script src="../../resource_new/js/filter.js"></script>
	<script src="../../resource_new/js/market/data_entry_zh_cn.js"></script>
	<script src="../../resource/js/report/manage_report_common.js"></script>
	<script src="../../resource/js/upload/lims.upload.js"></script>
	<script src="../../resource_new/js/product/product_category.js"></script>
	<script src="../../resource/js/report/report.js"></script>
	<script src="../../resource_new/js/report/manage_report_dealer.js"></script>

	<script>
		$(document).ready(function() {
			$("fieldset input").focus(function() {
				$(this).parent().prev("label").hide();
			});
			$("fieldset input").blur(function() {
				if ($(this).val().trim().length < 1) {
					$(this).parent().prev("label").show();
				}
			});
		});
	</script>
	<style>
		#testItem_grid span.k-input{
			font-size:14px;
		}
		.red_xing{
			color:red;
			text-align:center;
			margin-left:3px;
		}
		table#food_info_table td,table#bui_table td,table#testReport td{
			padding: 5px;
		}

		#viewWindow fieldset {
			border:1px solid #808080;
			font-family: Verdana, 'Microsoft YaHei', sans-serif;
			font-size: 14px;
			color: #05bf73;
		}
		#page_footer{
			padding-bottom: 50px;
		}
		.k-grid tbody td>.k-grid-publicFlag{
			margin-top: -0.2em;
			margin-bottom: -0.2em;
			margin: 0 5px;
			background: none;
			color: #04bf72;
			border: 1px solid #04bf72;
			border-radius: 3px;
		}
	</style>
</head>
<body>
<!--<div class="fixfooter">
  <div class="container" id="content_container">
	<div id="main" class="row">
    	<div class="column12 last">-->
<div class="fixfooter wi800 fl mt20 pr">
	<div class="fullview page_title mt50 wper100 ml20" id="status_bar"> 当前位置：报告管理</div>
	<input type="hidden" id="dealType" value="1">
	<div class="wper100 mt15" >
		<div class="row ml20">
			<div class=" wper100 last ">
				<div style="width:100%;margin-left: auto;margin-right: auto;">
					<div>
						<div style="text-align: left;">
							<h3>我的报告</h3>
						</div>
						<div id="report_publish_edit_grid"></div>
					</div>
					<div id="ts_msg"></div>
					<div style="margin-top:30px;">
						<div style="text-align: left;">
							<h3><font color=red>我的已退回报告</font></h3>
						</div>
						<div id="report_back_eidt_grid"></div>
					</div>
					<div style="margin-top:30px;margin-bottom:100px;">
						<div style="text-align: left;">
							<h3>我的已通过的检测报告</h3>
						</div>
						<div id="was_published_grid"></div>
					</div>
				</div>
			</div>
			<div id="error_msg"></div>
			<div id="viewWindow">
				<div id="test_report_info">
					<fieldset>
						<legend><span data-lims-text="View Product"></span></legend>
						<table id="food_info_table">
							<tr>
								<td><label data-lims-text="Bar code"></label><span class='red_xing'>*</span></td>
								<td><input id="barcodeId" class="my-textbox" type="text" disabled="disabled"/></td>
								<td><label data-lims-text="food_Name"></label><span class='red_xing'>*</span></td>
								<td><input id="foodName" class="my-textbox" type="text" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="Specification"></label></td>
								<td><input id="specification" class="my-textbox" type="text" disabled="disabled"/></td>
								<td><label data-lims-text="Unit"></label></td>
								<td><input id="foodinfo_minunit" class="my-textbox" type="text" disabled="disabled"></td>
							</tr>
							<tr>
								<td><label data-lims-text="Brand"></label></td>
								<td><input id="foodinfo_brand" class="my-textbox" type="text" disabled="disabled"/></td>
								<td><label data-lims-text="Standard"></label></td>
								<td><input id="regularity" class="my-textbox" type="text" disabled="disabled"></td>
							</tr>
							<tr>
								<td><label data-lims-text="Expiratio"></label></td>
								<td><input id="foodinfo_expiratio" class="my-textbox" type="text" disabled="disabled"/></td>
								<td><label data-lims-text="Expir Day"></label></td>
								<td><input id="foodinfo_expirday" class="my-textbox" type="text" disabled="disabled"></td>
							</tr>
							<tr>
								<td><label data-lims-text="Category"></label><span class='red_xing'>*</span></td>
								<td><input id="foodinfo_category" class="my-textbox" type="text" disabled="disabled"></td>
								<td><label data-lims-text='foodInfo_Status'></label></td>
								<td><input id="foodInfo_Status" class='my-textbox' type="text" disabled="disabled"/></td>
							</tr>
						</table>
						<div id="proAtt_tr">产品资源:</div>
						<div id="proAttachmentsListView"></div>
					</fieldset>

					<fieldset>
						<legend><span data-lims-text="View Busunit"></span></legend>
						<div id="bui_div">
							<table id="bui_table">
								<tr>
									<td><label data-lims-text="生产许可证号"></label></td>
									<td><input type="text" id="bus_qsNo" class="my-textbox" disabled="disabled"/></td>
									<td><label data-lims-text="License No"></label></td>
									<td><input type="text" id="bus_licenseNo" class="my-textbox" disabled="disabled"/></td>
								</tr>
								<tr>
									<td><label data-lims-text="business_Name"></label><span class='red_xing'>*</span></td>
									<td><input type="text" id="bus_name" class="my-textbox" disabled="disabled"/></td>
									<td><label data-lims-text="Address"></label></td>
									<td><input type="text" id="bus_address" class="my-textbox" disabled="disabled"/></td>
								</tr>
							</table>
						</div>
					</fieldset>
					<fieldset>
						<legend><span data-lims-text="View Report"></span></legend>
						<table id="testReport">
							<tr>
								<td><label data-lims-text="ReportNo"></label><span class='red_xing'>*</span></td>
								<td><input type="text" id="tri_reportNo" class="my-textbox" disabled="disabled"/></td>
								<td><label data-lims-text="Testee"></label></td>
								<td><input type="text" id="tri_testee" class="my-textbox" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="Test Org"></label></td>
								<td><input type="text" id="tri_testOrg" class="my-textbox" disabled="disabled"/></td>
								<td><label data-lims-text="Test Type"></label></td>
								<td><input type="text" id="tri_testType" class="my-textbox" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="Conclusio"></label></td>
								<td><input type="text" id="tri_conclusion" class="my-textbox" disabled="disabled"/></td>
								<td><label data-lims-text="Test place"></label></td>
								<td><input type="text" id="tri_testPlace" class="my-textbox" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="Prod Date"></label><span class='red_xing'>*</span></td>
								<td><input type="text" id="tri_proDate" class="my-textbox" disabled="disabled"/></td>
								<td><label data-lims-text="Test Date"></label></td>
								<td><input type="text" id="tri_testDate" class="my-textbox" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="Batch"></label><span class='red_xing'>*</span></td>
								<td><input type="text" id="tri_batchNo" class="my-textbox" disabled="disabled"/></td>
								<td><label data-lims-text="End Date"></label></td>
								<td><input type="text" id="reportEndDate" class="my-textbox" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="sampleAddress"></label></td><td><input type="text" class="my-textbox" id="sampleAds" disabled="disabled"/></td>
								<td><label data-lims-text="sampleCounts"></label></td><td><input type="text" class="my-textbox" id="sampleCounts" disabled="disabled"/></td>
							</tr>
							<tr>
								<td><label data-lims-text="judgeStandard"></label></td><td colspan="3"><textarea rows="2" cols="60" id="judgeStandard" class="my-textbox" style="width:93%;height:40px;" disabled="disabled"></textarea></td>
							</tr>
							<tr>
								<td><label data-lims-text="testResultDescribe"></label></td><td colspan="3"><textarea rows="2" cols="30" id="testResultDescribe" class="my-textbox" style="width:93%;height:40px;" disabled="disabled"></textarea></td>
							</tr>
							<tr>
								<td><label data-lims-text="remarks"></label></td><td colspan="3"><textarea rows="2" cols="30" id="remarks" class="my-textbox" style="width:93%;height:40px;" disabled="disabled"></textarea></td>
							</tr>
						</table>
						<br/>
						<div id="repAtt_tr">报告资源:</div>
						<div id="repAttachmentsListView"></div>
						<div id="sanNo_tr">卫生证书编号<span class='red_xing'>*</span>&nbsp;<input type="text" id="sanNo" class="my-textbox" disabled="disabled"/></div>
						<div id="sanPdfRepAtt_tr">卫生证书资源:<div id="sanPdfRepAttachments"></div></div>
						<br>
						<div id="testItem_grid"></div></fieldset>
				</div>
			</div>
			<!-- <a href="\#" onclick="javascript:lims.download(#= attachments.id #);"> -->
			<script type="text/x-kendo-tmpl" id="uploadedFilesTemplate">
	<a href="#= attachments.url #" target="_blank">
	#= attachments.fileName #</a>&nbsp;,&nbsp;
	</script>
			<div id="toPublishWindow">
				<label id="publishStatus" style="font-size: 16px"></label>
			</div>

			<!-- 报告删除窗口 Start -->
			<div id="delete_window">
				<div style="text-align: center;">您确定要删除吗?</div>
				<br/>
				<div style="text-align: center;padding-top:54px">
					<button class="k-button" id="delete_yes_btn">
						<span class="k-icon k-update"></span>确定
					</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="k-button" id="delete_no_btn">
						<span class="k-icon k-cancel"></span>取消
					</button>
				</div>
			</div>
			<!-- 报告删除窗口 End -->

			<div id="tsWin"></div>
			<span id="RETURN_MES" style="display:none;"></span>
			<script id="errorTemplate" type="text/x-kendo-template">
				<div class="wrong-pass">
					<img src="../../resource_new/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/><br/>
					<img src="../../resource_new/img/error-icon.png" style="margin-top: 5px;"/>
					<h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
				</div>
			</script>
			<script id="successTemplate" type="text/x-kendo-template">
				<div class="upload-success">
					<img src="../../resource_new/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/><br/>
					<img src="../../resource_new/img/success-icon.png" style="margin-top: 5px;"/>
					<h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
				</div>
			</script>
		</div>
	</div>
</div>
</body>
</html>