<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10">
<title>食品安全营养信息平台 V1.</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--><link rel="stylesheet" href="../../resource_new/css/reset.css" />
<link rel="stylesheet" href="../../resource_new/css/text.css" />
<link rel="stylesheet" href="../../resource_new/css/grid.css" />
<link href="../../resource_new/kendoui/styles/kendo.common.min.css"rel="stylesheet" />
<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
<link rel="stylesheet" href="../../resource_new/css/notification.css" />
<link rel="stylesheet" href="../../resource_new/css/index_guid.css" />
<link rel="stylesheet" href="../../resource_new/css/market/add_testreport.css" />
<link rel="stylesheet" href="../../resource_new/css/immediateguide.css" />
<link rel="stylesheet" href="../../resource_new/css/manngerUI.css" />
<script src="../../resource/js/less.js" type="text/javascript"></script>
<script src="../../resource/kendoui/js/jquery.min.js"></script>
<script src="../../resource/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource/js/jquery.cookie.js"></script>
<script src="../../resource_new/js/headerFooterTemplate.js"></script>
<script src="../../resource/js/lims.i18n.js"></script>
<script src="../../resource_new/js/fsn.js"></script>
<script src="../../resource/js/lims.js"></script>
<script src="../../resource/js/util.js"></script>
<script src="../../resource/kendoui/js/cultures/kendo.culture.zh-CN.min.js"></script>
<script src="../../resource/js/market/data_entry_zh_cn.js"></script>
<script src="../../resource/js/guid/unit_guid.js"></script>
<script src="../../resource_new/js/report/input_report_common.js"></script>
<script src="../../resource_new/js/product/product_category.js"></script>
<script src="../../resource_new/js/market/daojishi.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../../resource_new/js/market/imgToPdf.js"></script>
<script src="../../resource_new/js/report/upload_resource.js"></script>
<script src="../../resource/js/report/report.js"></script>
<script src="../../resource/js/market/subBusiness_addReport.js"></script>
<script>
	$(document).ready(function() {
		 $("fieldset input").focus(function() {
			$(this).parent().prev("label").hide();
		});
		$("fieldset input").blur(function() {
			if ($(this).val().trim().length < 1) {
				$(this).parent().prev("label").show();
			}
		}); 
	});
	function show(){
		
		 var box = document.getElementById("windbox");
		 box.style.display = "block";	
		 
		}
		
		function hide(){
		 var box = document.getElementById("windbox");
		 box.style.display = "none"	;	
		 
		}
</script>
<style type="text/css">
#windTd td{border:1px solid #00A600;border-collapse:collapse;}
.column12 .tipBox #windbox{
	width:450px;
	height:320px;
	top:42%;
	position:fixed;
        right:-122px;
	overflow:hidden;
    z-index:9999;
	}
.biaoge td{
	color:#00A221;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	font-family:"微软雅黑";
	font-size:100%;
}
.biaoge td a{
	color:#00A221;
	text-decoration:none;
	text-align:right;
	vertical-align:middle;
	font-family:"微软雅黑";
	font-size:14pt;
	}
.rightBox{
	overflow:hidden;
	}
#btn{
	width:30px;
	height:100px;
	cursor:pointer; 
	z-index:9999;
	position:relative;
	background:url("../../resource/img/btn.png");
	}
.tipBox{
	position: fixed;
    right: 0;
	top: 56.5%;
	overflow:hidden;
	}
</style>
</head>
<body>
<a name="gTop"></a>
<div class="fixfooter wi800 fl mt20 pr"> <!-- 
  <div class="container" id="content_container"> -->
  <div class="fullview page_title mt50 wper100 ml20" id="status_bar">
              当前位置：我的检测 >> 报告录入
              <div style="float: right;margin-right: 25px"><a href="https://shop129098631.taobao.com/?spm=a230r.7195193.1997079397.2.WGDhfR" target="_blank" style="font-size:16px;color:red;">服务</a></div>
      </div>
     <div class="wper100 mt15" > 
     	<div class="row ml20">
<!-- <div style="float: right;margin-right: 25px"><a href="https://shop129098631.taobao.com/?spm=a230r.7195193.1997079397.2.WGDhfR" target="_blank" style="font-size:16px;color:red;">服务</a></div> -->
    <div class="column12 last">
	<div id="example" class="k-content">
	 <div id="organizer">
	<fieldset class="_previewFieldset">
  	  <legend><span data-lims-text="Food info"></span></legend>
		<table class="input-readonly">
		 <tr>
			<td align="left"><label data-lims-text="Bar code"></label><span class='red_xing'>*</span>：<input type="hidden" id="sample_id"></td>
			<td><input style="width:250px;" id="barcodeId" class="k-textbox" data-required-msg='不能为空' required='required'></td>
			<td align="left"><label data-lims-text="food_Name"></label><span class='red_xing'>*</span>：</td>
			<td><label id="foodName" class="k-text"></label></td>
		  </tr>
		  <tr>
			<td align="left"><label data-lims-text="Specification"></label>：</td>
			<td><label id="specification"></label></td>
			<td align="left"><label data-lims-text="Unit"></label>：</td>
			<td><label id="foodinfo_minunit"></label></td>
		  </tr>
		  <tr>
			<td align="left"><label data-lims-text="Brand"></label>：</td>
			<td><label id="foodinfo_brand"></label></td>
			<td align="left"><label data-lims-text='foodInfo_Status'></label>：</td>
		    <td><label id="foodInfo_Status"></label></td>
		  </tr>
		  <tr>
			<td align="left"><label data-lims-text="Expiratio"></label>：</td>
			<td><label id="proExpiratio"></label><input id="expiration_date" type="hidden"/></td>
			<td align="left"><label data-lims-text="Expir Day"></label>：</td>
			<td colspan="3"><label id="foodinfo_expirday"></label><input id="inputDay" type="hidden"/>
			</td>
		 </tr>
		 <tr>
		 	<td align="left"><label data-lims-text="Category"></label><span class='red_xing'>*</span>：</td>
			<td colspan="3"><label id="foodinfo_category"></label></td>
		 </tr>
		 <tr>
		  <td align="left"><label data-lims-text="Standard"></label>：</td>
		  <td colspan="3"><label id="regularity"></label></td>
		 </tr>
	  </table>
		 <div>
		  <fieldset class="_previewFieldset">
   		   <legend><span style="font-size:1em;font-weight:normal;letter-spacing: 2px;" data-lims-text="产品图片"></span></legend>
		   <div id="proAttachmentsListView"></div>
		  </fieldset>
		 </div>
	 </fieldset>
	 
	 <fieldset class="_previewFieldset">
  	  <legend><span data-lims-text="Business Unit Info"></span></legend>
	   <table>
		<tr>
			<td align="left"><label data-lims-text="QS No"></label></td>
			<td>
                <input style="width:300px" type="text" id="bus_qsNo" class="k-textbox" disabled="disabled" />
			</td>
			<td align="left"><label data-lims-text="License No"></label></td>
			<td><input style="width:300px;" type="text" id="bus_licenseNo" class="k-textbox" disabled="disabled"/></td>
		</tr>
		<tr>
			<td align="left"><label data-lims-text="business_Name"></label></td>
			<td><input style="width:300px;" type="text" id="bus_name" class="k-textbox" disabled="disabled"/></td>
			<td align="left"><label data-lims-text="Address"></label></td>
			<td><input style="width:300px" type="text" id="bus_address" class="k-textbox" disabled="disabled"/></td>
		</tr>
	</table>
  </fieldset>
	<fieldset class="_previewFieldset">
  	  <legend><span data-lims-text="Test Report Info"></span></legend>
		 <table id="test_report_info">
		  <tr>
			<td align="left"><label data-lims-text="ReportNo"></label><span class='red_xing'>*</span></td>
			<td><input style="width:250px; height:30px" type="text" id="tri_reportNo" class="k-textbox" placeholder="例如:GC201205007" data-required-msg='不能为空' required='required'/></td>
			<td align="left"><label data-lims-text="Testee"></label><span class='red_xing'>*</span></td>
			<td><input style="width:250px; height:30px" type="text" id="tri_testee" class="k-textbox" data-required-msg='不能为空' required='required'/></td>
		 </tr>
		 <tr>
			<td align="left"><label data-lims-text="Test Org"></label></td>
			<td><input style="width:250px; height:30px" type="text" id="tri_testOrg" class="k-textbox"/></td>
			<td align="left"><label data-lims-text="Test Type"></label></td>
			<td><input style="width:250px; height:30px" type="text" id="tri_testType"/></td>
		 </tr>
		 <tr>
			<td align="left"><label data-lims-text="Conclusio"></label></td>
			<td><input style="width:250px; height:30px" type="text" id="tri_conclusion"/></td>
			<td align="left"><label data-lims-text="Test place"></label></td>
			<td><input style="width:250px; height:30px" type="text" id="tri_testPlace" class="k-textbox" /></td>
		 </tr>
		 <tr>
			<td align="left"><label data-lims-text="Prod Date"></label><span  id="pDateRed" class='red_xing'>*</span></td>
			<td>
			    <input style="width:250px; height:25px" type="text" id="tri_proDate" placeholder="例如:2014-01-01" data-required-msg='不能为空' required='required'  onblur="fsn.portal.setTriPorDate(this.value)"/>
                <input type="hidden" id="tri_proDate_format" value="" style="display:none;"/>
            </td>
			<td align="left"><label data-lims-text="Test Date"></label><span id="tDateRed" class='red_xing'>*</span></td>
			<td>
			    <input style="width:250px; height:25px" type="text" placeholder="例如:2014-01-01" id="tri_testDate"/>
                <input type="hidden" id="tri_testDate_format" value="" style="display:none;"/>
            </td>
		 </tr>
			<tr>
				<td align="left"><label data-lims-text="Batch"></label><span class='red_xing'>*</span></td>
				<td colspan="3"><input type="text" id="tri_batchNo" placeholder="例如:20140101" style="width:250px; height:30px"
					class="k-textbox" data-required-msg='不能为空' required='required'/></td>
				<td class="hide"><label data-lims-text="End Date"></label><span class='red_xing'>*</span></td>
				<td class="hide"><input type="text" id="reportEndDate" placeholder="例如:20140101" style="width:250px; height:25px"
					data-required-msg='不能为空' required='required'/></td>
			</tr>
			<tr>
			    <td align="left"><label data-lims-text="sampleAddress"></label></td>
			    <td><input style="width:250px; height:30px" type="text" class="k-textbox" id="sampleAds"/></td>
			    <td align="left"><label data-lims-text="sampleCounts"></label></td>
			    <td><input style="width:250px; height:30px" type="text" class="k-textbox" id="sampleCounts"/></td>
			</tr>
			<tr>
			    <td align="left"><label data-lims-text="judgeStandard"></label><span class='red_xing'>*</span></td>
			    <td colspan="3"><textarea rows="2" cols="60" id="judgeStandard" placeholder='若报告上没有此项，请填写 "/"' data-required-msg='不能为空' required='required' class="k-textbox" style="width:100%"></textarea></td>
			</tr>
			<tr>
			    <td align="left"><label data-lims-text="testResultDescribe"></label><span class='red_xing'>*</span></td>
			    <td colspan="3"><textarea rows="2" cols="30" id="testResultDescribe" placeholder='若报告上没有此项，请填写 "/"' data-required-msg='不能为空' required='required' class="k-textbox" style="width:100%"></textarea></td>
			</tr>
			<tr>
			    <td align="left"><label data-lims-text="remarks"></label></td>
			    <td colspan="3"><textarea rows="2" cols="30" id="remarks" class="k-textbox" style="width:100%"></textarea></td>
			</tr>
			<tr id="back" style="display:none;">
			    <td align="left"><label data-lims-text="backResult"></label></td>
			    <td colspan="3"><textarea rows="2" cols="30" id="backResult" class="k-textbox" style="width:100%" readonly="readonly"></textarea></td>
			</tr>
			<tr>
			  <td colspan='4'><label data-lims-text="isAutoReport"></label>
			  <input type="radio" name='isAuto' id="yesAuto" value="1"/><label data-lims-text="yesAuto"></label>
			  <input type="radio" name="isAuto" id="noAuto" value="0" checked="checked"/><label data-lims-text="noAuto"></label>
			  <label style="color:gray;" data-lims-text="isAutoReport_ts"></label>
			  </td>
			</tr>
			<tr id="tr_Message" style="display:none;">
				<td>
					&nbsp;&nbsp;
				</td>
				<td colspan="3">
					<div><label id="inputMessage" style="font-size: 12px;color:red;"></label></div>
				</td>
				</tr>
			<tr id="tr_isAuto">
				<td>
					<label data-lims-text="res_type"></label>
				</td>
				<td colspan="3">
					<label id="repFileMsg" style="font-size: 12px;color:red;">您可以：上传pdf文件，或上传图片自动合成pdf！</label>
					<div id="upload_rep">
						<!-- <input type="file" id="upload_report_files" class="k-textbox" data-lims-text="upload_Report" /> -->
					</div>
					<div style="width:130px;heigth:40px;margin-left:10px;margin-bottom:20px;">
						<button id="openT2P_btn" class="k-button" data-lims-text="图片合成" onclick="lims.openPicToPdfWin()" style="width:130px;"></button>
					</div>
				</td>
				</tr>
		</table>
		<div style="margin-left: 10px;">
			<!--<button id="btn_clearRepFiles" class='k-button'>清空</button>-->
			<div id="repAttachmentsListView"></div>
		</div>
		<table>
			<tr class="third-upload">
				<td  colspan="3">
					<label data-lims-text="报告原件（图片）"></label>
					<span class='red_xing'>*</span>：
					<input type="file" name="files" id="upload_report_img"/>
<div id="reportImgListView"></div>
				</td>
				</tr>
				<tr class="third-upload">
				<td  colspan="3">
					<label data-lims-text="检测凭证（图片）"></label>
					<span class='red_xing'>*</span>：
					<input type="file" name="files" id="upload_check_img"/>	
<div id="checkImgListView"></div>		
				</td>
				</tr>
				<tr class="third-upload">
				<td  colspan="3">
					<label data-lims-text="购买凭证（图片）">
					</label><span class='red_xing'> *</span>：
					<input type="file" name="files" id="upload_buy_img"/>	
<div id="buyImgListView"></div>		
				</td>
				</tr>	
			</table>
		<div>
			<script id="toolbar_template" type="text/x-kendo-template">
                <input id="sumCount" type="text" placeholder="请添加行数" size=8  onkeydown="lims.root.doEnterPress(event)"/>
            	<button id="add_item" class="k-button" onclick="return lims.root.grid_AddItem()">
             	<span class="k-icon k-add"></span>添加</button>
				<button class="k-button" onclick="return lims.root.openExel_Win()">
				<span class="k-icon k-add"></span>导入检测项目</button>
            </script>
             <!-- <button class="k-button" onclick="return lims.root.exportExel_Win(false)">
                         <span class="k-icon k-add"></span>导出检测项目
                </button> -->
		<div id="report_grid"></div>
		    <!-- ================================================================== -->
    <div class="tipBox">
			<input id="btn" type="button" onMouseOver="show()"/>&nbsp;&nbsp;
		    <div id="windbox" onMouseLeave="hide()" style="display: none;">
			<table id="windTd" style="background-color:#FcFcFc;border:1px solid #00A600;">
		    	<tbody class="biaoge">
                       <tr>
				<td rowspan="1">横标</td>
				<td><a href="##">＜</a><a href="##">＞</a><a href="##">-</a></td>
				<td><a href="##">≥</a><a href="##">≥</a><a href="##">%</a></td>
				<td><a href="##">±</a><a href="##">√</a></td>
				<td><a href="##">α</a><a href="##">β</a></td>
				<td><a href="##">λ</a><a href="##">#</a></td>
				<td><a href="##">①</a><a href="##">②</a></td>
				<td><a href="##">④</a><a href="##">⑤</a></td>
			</tr>
			<tr>
				<td rowspan="2">上标</td>
				<td><a href="##">&ordm;</a></td>
				<td><a href="##">&sup1;</a></td>
				<td><a href="##">&sup2;</a></td>
				<td><a href="##">&sup3;</a></td>
				<td><a href="##">⁴</a></td>
				<td><a href="##"></a></td>
				<td><a href="##"></a></td>
			</tr>
			<tr>
				<td><a href="##">⁵</a></td>
				<td><a href="##">⁶</a></td>
				<td><a href="##">⁷</a></td>
				<td><a href="##">⁸</a></td>
				<td><a href="##">⁹</a></td>
				<td><a href="##"></a></td>
				<td rowspan="3"><input id="btn" type="button"/></td>
			</tr>
			<tr>
				<td rowspan="2">下标</td>
				<td><a href="##">₀</a></td>
				<td><a href="##">₁</a></td>
				<td><a href="##">₂</a></td>
				<td><a href="##">₃</a></td>
				<td><a href="##">₄</a></td>
				<td><a href="##"></a></td>
				<td><a href="##"></a></td>
			</tr>
			<tr>
				<td><a href="##">₅</a></td>
				<td><a href="##">₆</a></td>
				<td><a href="##">₇</a></td>
				<td><a href="##">₈</a></td>
				<td><a href="##">₉</a></td>
				<td><a href="##"></a></td>
				<td><a href="##"></a></td>
			</tr>
		</tbody>
		</table>
	</div>
	</div>
    <!-- ================================================================== --> 
		</div>
	</fieldset>
	 <div id="save_status"></div>
	 <div id="success_msg"></div>
	 <div id="fileErroMsg"></div>
	 <script type="text/x-kendo-tmpl" id="uploadedFilesTemplate">
		&nbsp;&nbsp;<a href="#= attachments.url #" target="_blank">#:attachments.fileName #</a>
		<button class="k-button" onclick="return lims.root.removeRes(#=attachments.id#,'#=attachments.fileName#')">
        <span class="k-icon k-cancel"></span>删除</button><br><br>
    </script>
<script type="text/x-kendo-tmpl" id="uploadedImgFilesTemplate">
		&nbsp;&nbsp;<a href="#= attachments.url #" target="_blank">#:attachments.fileName #</a>
		<button class="k-button" onclick="return lims.root.removeAttr(#=attachments.id#,'#=attachments.fileName#',#=imgList#,'#=viewId#','#=imgList#')">
        <span class="k-icon k-cancel"></span>删除</button><br><br>
    </script>
     <script type="text/x-kendo-tmpl" id="proImgFilesTemplate">
		<div style='float:left;margin:10px 10px;'>
			<a href=" #= attachments.url # " target='_black'>
				<img width='50px' src="#= attachments.url #"></img>
			</a>
		</div>
		
    </script>
	</div>		
	</div>
	  <div style="margin-top: 10px;">
	    <button id="clear" class="k-button inputbtn">
		  <span class="k-icon k-submit"></span>
		  <label data-lims-text="Clear"></label>
		</button>
	    <button id="update" class="k-button inputbtn">
		  <span class="k-icon k-submit"></span>
		  <label data-lims-text="Update"></label>
		</button>
		<button id="save" class="k-button inputbtn">
		  <span class="k-icon k-submit"></span>
		  <label data-lims-text="Save"></label>
		</button>
		<button id="submit" class="k-button inputbtn">
		  <span class="k-icon k-submit"></span>
		  <label data-lims-text="Submit"></label>
		</button>
		<button id="add" class="k-button inputbtn">
		  <span class="k-icon k-submit"></span>
		  <label data-lims-text="Continue_to_add"></label>
		</button>
	  </div>
	</div>
	<!-- <div id="immediate-guide-trigger1">
		<button id="speChar_btn" class="k-button" onclick="return lims.root.openSpeCharWin()">
				<span class="k-icon k-add"></span>特殊符号/单位</button>
	</div> -->
	</div>
	<div id="immediate-guide-trigger">
		<a href="#" title="温馨提示" data-spm-anchor-id="a1z08.2.0.0"></a>
	</div>
	<!--
    <div id="daojishi">
		掉线倒计时：
    	<div id="timer"></div>
    </div>
    -->
	<div id="skin-box-bd">为保证贵企业报告能够顺利通过审核，请务必按照原报告内容准确、完整的填写页面信息。</div>
	<div id="goTab" class="goTab">
	  <ul>
		<li class="gTop">
			<a href="#gTop" style="display: none; overflow: hidden; width: 100%;">
				<span>顶部</span>
				<b></b>
			</a>
		</li>
		<li class="gPrev">
			<a href="publish_edit_testreport.html" style="width: 100%; overflow: hidden;">
				<span>返回</span>
				<b></b>
			</a>
		</li>
   	  </ul>
	</div>
	
	<div id="backMsg" style="word-warp:break-word;word-break:break-all;z-index:10010;"></div>
	<div id="toSaveWindow">
  		<label id="saving_msg" style="font-size: 16px" data-lims-text="Save Status"></label>
    </div>
    <div id="tsWindow">
      <div><label data-lims-text="delResMsg"></label></div>
     <div style="text-align: right;">
		<button class="k-button" id="btn_delOK"><span class="k-icon k-update"></span><label data-lims-text="OK"></label></button> &nbsp;&nbsp;&nbsp;&nbsp;
		<button class="k-button" id="btn_delCancel"><span class="k-icon k-cancel"></span><label data-lims-text="Cancel"></label></button>&nbsp;&nbsp;
	 </div>
    </div>
	<div class="push"></div>
	<div id="speCharWindow"></div>
		 
	<!-- 清空弹框 Start -->
	<div id="CONFIRM_COMMON_WIN">
			<div id="listView">
				<div id="CONFIRM_MSG" style="text-align: center;">您确认要清空吗？</div>
				<br />
				<div style="text-align: center;;margin-top:38px">
					<button class="k-button" onclick="return lims.root.my_clearTempReport()">
						<span class="k-icon k-update"></span>确定
					</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="k-button"  onclick="return lims.root.closeClearReportWin()">
						<span class="k-icon k-cancel"></span>取消
					</button>	
				</div>
			</div>
	</div>
	<!-- 清空弹框 End -->
	
	<div id="diaoxian_logout">
		<div style="text-align: left;">由于您长时间未操作，为了保障您的账号安全，已自动掉线。（已自动为您保存数据）</div><br/>
		<div style="text-align: center;">
			<button id="logout_btn" class="k-button"><span class="k-icon k-update"></span><label data-lims-text="OK"></label></button>
		</div>
	</div>
	<div id="diaoxian_remind_01">
		<div style="text-align: center;" id="diaoxian_remind_msg">为防止您的数据丢失，请及时保存！</div><br/><br><br>
		<div style="text-align: center;">
			<button id="save_btn_01" class="k-button"><span class="k-icon k-update"></span><label data-lims-text="OK"></label></button>
		</div>
	</div>
	<div id="diaoxian_remind_02">
		<div style="text-align: center;" id="diaoxian_remind_msg">您即将掉线，请及时保存！</div><br/><br>
		<div style="text-align: center;">
			<button id="save_btn_02" class="k-button"><span class="k-icon k-update"></span><label data-lims-text="OK"></label></button>
		</div>
	</div>
	<div id="import_Excel_Win">
		<div style="text-align: center;"><img src="../../resource/img/excel_template.jpg"/></div>
		<div>
		    <span style="font-size: 12px;color:red;">注意：如果被选excel文件中检测项目各列的顺序跟以上模板不一致，请自行调整，列标题不能少(该功能目前只支持2003版本的Excel，如果版本高于2003，请提前做好转换)。</span>
			</br><span id="ex_msg"></span>
		</div>
		<div>
			<div id="up_ex_fileDiv" style="float:left;width:350px;"></div>
			<div>
				<button class="k-button" id="down_exclTmplat_btn" style="margin-top:13px;" 
					onclick="return lims.downloadByUrl('http://qa.fsnrec.com/portal/ExcelTemplate.xls');">下载Excel模板</button>
			</div>
		</div>
	</div>
	<!-- 图片合成pdf窗口 -->
	<div id="pictureToPdfWindow">
		<div class=content>
    		<div class=left id=dom0>
   			</div>
		</div><br>
		<div>
		   <span style="color:red;font-size:12px;">注：请按照报告排版拖动调整图片位置。建议每次上传文件不超过1M</span>
		</div>
		<div id="uploadRepPicDiv">
		</div>
		<div style="text-align: right;">
			<button id="p2pReview_btn" class="k-button"><span class="k-icon k-i-search"></span><span data-lims-text="Review Pdf"></span></button> &nbsp;&nbsp;&nbsp;&nbsp;
			<button id="p2pOk_btn" class="k-button"><span class="k-icon k-update"></span><span data-lims-text="OK"></span></button> &nbsp;&nbsp;&nbsp;&nbsp;
			<button id="p2pCancel_btn" class="k-button"><span class="k-icon k-cancel"></span><span data-lims-text="Cancel"></span></button>&nbsp;&nbsp;
		</div>
	</div>
	<span id="RETURN_MES" style="display:none;"></span>
    <script id="errorTemplate" type="text/x-kendo-template">
                <div class="wrong-pass">
                    <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/><br/>
                    <img src="../../resource/img/error-icon.png" style="margin-top: 5px;"/>
                    <h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
                </div>
    </script>
    <script id="successTemplate" type="text/x-kendo-template">
                <div class="upload-success">
                     <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/><br/>
                    <img src="../../resource/img/success-icon.png" style="margin-top: 5px;"/>
                    <h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
                </div>
	</script>
</div>
</div>
<!-- 页面引导 start--------屏蔽新版介绍---------->
	<!-- <div style="position:fixed;right:-2em;bottom:50px;width:150px;">
   		<div onclick="return fsn.startForwMeStep();"><img src="http://qa.fsnrec.com/portal/guid/unit/unit_newintroduce.png" /></div>
  	</div> -->
  	
   <div id="followMeDiv"></div>
   
    <div class="stepContent" style="top:80px;">
   	<div id="followMeStep" style="display:none;">
   	   	<a name="stp1"></a>
        <img id="imgs" class="noneStyle"/>
       	<div style="position:relative;top:-2.7em;left:16.2em;width:73px;height:29px;">
       		<a class="noneStyle" href="javascript:void(0);" onclick="return fsn.backStep();" title="上一页">
        		<div style="width:35px;height:29px;color:red;"></div>
       		</a>
       </div>
       <div style="position:relative;top:-4.5em;left:19em;width:73px;height:29px;">
       		 <a class="noneStyle" href="javascript:void(0);" onclick="return fsn.nextStep();" title="下一页">
        		<div style="width:35px;height:29px;color:red;"></div>
       		</a>
       </div>
       <div style="position:relative;top:-6.4em;left:21.8em;width:25px;height:20px;">
       		<a class="noneStyle" href="javascript:void(0);" onclick="return fsn.cancelStep();" title="关闭引导">
        		<div style="width:35px;height:29px;color:red;"></div>
       		</a>
       </div>
    </div>
   </div>
   <!-- 页面引导 end-->
</body>
</html>