<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>食品安全营养信息平台 V1.</title>
<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="../../resource_new/css/reset.css"/>
	<link rel="stylesheet" href="../../resource_new/css/text.css" />
	<link rel="stylesheet" href="../../resource_new/css/grid.css" />
	<link href="../../resource_new/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="../../resource/kendoui/styles/kendo.default.min.css" rel="stylesheet" />
	<link href="../../resource_new/kendoui/styles/kendo.metro.min.css" rel="stylesheet" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
	<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
	<link rel="stylesheet" href="../../resource_new/css/notification.css" />
<link rel="stylesheet" href="../../resource/css/index_guid.css" />
<link rel="stylesheet" href="../../resource/css/sales/pictureDragStyle.css" />
<link rel="stylesheet" href="../../resource/css/sales/renderpic.css" />
<link rel="stylesheet" href="../../resource_new/css/manngerUI.css" />
<script src="../../resource_new/js/less.js" type="text/javascript"></script>
<script src="../../resource/kendoui/js/jquery.min.js"></script>
<script src="../../resource/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource/js/jquery.cookie.js"></script>
<script src="../../resource_new/js/headerFooterTemplate.js"></script>
<script src="../../resource/js/fsn.js"></script>
<script src="../../resource/js/fsn.i18n.js"></script>
<script src="../../resource/js/lims.js"></script>
<script src="../../resource/js/filter.js"></script>
<script src="../../resource/kendoui/js/cultures/kendo.culture.zh-CN.min.js"></script>
<script src="../../resource/js/language/sales/sales_view_report_zh_cn.js"></script>
<script src="../../resource/js/upload/lims.upload.js"></script>
<script src="../../resource/js/sales/util/salesKendoUtil.js"></script>
<script src="../../resource/js/sales/util/pictureDragUtil.js"></script>
<script src="../../resource/js/sales/electronic_data_manager.js"></script>
<script>
    $(document).ready(function(){
        $("fieldset input").focus(function(){
            $(this).parent().prev("label").hide();
        });
        $("fieldset input").blur(function(){
            if ($(this).val().trim().length < 1) {
                $(this).parent().prev("label").show();
            }
        });
        $(".hideBusName").hide();
    });
</script>
<style type="text/css">
.column12{margin-bottom: 20px;}
html .cf li{ display: block;float: left;margin-left: 10px;margin-top: 10px;position: relative;background: #f1eded;padding: 5px;width:200px;height:150px;}
img.list_img{cursor: pointer;}
html .position-absolute{left: -130px;top:97px;}
html .name_span{color: #0f941a;margin: 0px auto; width: 190px;text-align: center;display: block; overflow: hidden;position: relative; text-overflow: ellipsis; top: 0; white-space: nowrap;}
html .name_span_mov{margin:5px auto;}
html .mo{background:#f1eded;}
html #tabstrip{width:100%;}
div.self_sort_div{text-align: right;float:right;margin:-10px 0;padding:5px;}
.fl{float:left;}
.content_auto{overflow: auto;max-height:300px;}
#messageLabel{margin:10px;font-size: 15px;}
img.list_img{max-width:100%;height:auto;display:block;margin-left:auto;margin-right:auto}
html .list_img {width: auto;height: 120px;}
</style>
</head>
<body>
<div class="fixfooter wi1100 fl mt20">
    <div class="container clearfix  wper100 last" id="content_container">
        <div class="row ml20">
            <div class="column12 last">
				<div class="column12">
					<span class="page_title">当前位置：销售信息管理 &raquo;电子资料管理 &raquo;电子资料设置</span>
				</div>
				<div class="self_sort_div">
					<button class="k-button" id="sort_btn">换图或排序</button>&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="k-button" id="createData_btn">生成电子资料</button>
				</div>
				<div id="tabstrip">
                      <ul>
                          <li id="certId" class="k-state-active">证书展示</li>
                          <li id="album">企业掠影展示</li>
                          <li id="product">产品展示</li>
                          <li id="salesCase">案例展示</li>
                      </ul>
                      <div id="dragDivCert" class="content_auto"></div>
                      <div id="dragDivAlbum" class="content_auto"></div>
                      <div id="dragDivProduct" class="content_auto"></div>
                      <div id="dragDivCase" class="content_auto"></div>
                </div>
                <div class="mt5 mb30 content_auto">
                	<span><input id="defatul_order" name="group1" type="radio" checked="checked" disabled="disabled"/>默认</span>&nbsp;&nbsp;&nbsp;&nbsp;
                	<span><input id="self_order" name="group1" type="radio" disabled="disabled"/>自定义</span>
                </div>
                <!-- 未排序图片展示区域 -->
                <div class="con_b content_auto fl">
                	<div id="listBox" class="listBox"><ul class="cf" id = "small_ul"></ul></div>
                </div>
                <div class="div_btn_sty fl">
			 		<button id="save_btn" class="k-button"><span class="k-icon k-update"></span><span data-fsn-text="OK"></span></button> &nbsp;&nbsp;&nbsp;&nbsp;
			   	    <button id="concel_btn" class="k-button"><span class="k-icon k-cancel"></span><span data-fsn-text="Cancel"></span></button>
			    </div>
            </div>
        </div>
    </div>
</div>

<!-- 页面提示窗口 -->
<div id="messageWindow">
	<div style="margin:0 auto;width:170px"><label id="messageLabel"></label></div>
</div>

<!-- 页面提示信息框 -->
<span id="RETURN_MES" style="display:none;"></span>
<script id="errorTemplate" type="text/x-kendo-template">
  <div class="wrong-pass">
     <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
     <br/>
     <img src="../../resource/img/error-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
<script id="successTemplate" type="text/x-kendo-template">
  <div class="upload-success">
  <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
  <br/>
  <img src="../../resource/img/success-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>

</body>
</html>