<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<title>食品安全营养信息平台 V1.</title>
<link rel="stylesheet" href="../../resource/css/reset.css" />
<link rel="stylesheet" href="../../resource/css/text.css" />
<link rel="stylesheet" href="../../resource/css/grid.css" />
<link href="../../resource/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
<link href="../../resource/kendoui/styles/kendo.default.min.css" rel="stylesheet" />
<link rel="stylesheet/less" type="text/css" href="../../resource/kendoui/styles/kendo.metro.less" />
<link rel="stylesheet/less" type="text/css" href="../../resource/css/style.less" />
<link rel="stylesheet" href="../../resource/css/notification.css" />
<link rel="stylesheet" href="../../resource/css/index_guid.css" />
<script src="../../resource/js/less.js" type="text/javascript"></script>
<script src="../../resource/kendoui/js/jquery.min.js"></script>
<script src="../../resource/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource/js/jquery.cookie.js"></script>
<script src="../../resource/js/headerFooterTemplate.js"></script>
<script src="../../resource/js/fsn.js"></script>
<script src="../../resource/js/fsn.i18n.js"></script>
<script src="../../resource/js/lims.js"></script>
<script src="../../resource/js/filter.js"></script>
<script src="../../resource/kendoui/js/cultures/kendo.culture.zh-CN.min.js"></script>
<script src="../../resource/js/language/sales/promotion_case_zh_cn.js"></script>
<script src="../../resource/js/upload/lims.upload.js"></script>
<script src="../../resource/js/sales/util/salesKendoUtil.js"></script>
<script src="../../resource/js/sales/promotion_case_manager.js"></script>
<script>
    $(document).ready(function(){
        $("fieldset input").focus(function(){
            $(this).parent().prev("label").hide();
        });
        $("fieldset input").blur(function(){
            if ($(this).val().trim().length < 1) {
                $(this).parent().prev("label").show();
            }
        });
        $(".hideBusName").hide();
    });
</script>
</head>
<body>
<div class="fixfooter">
    <div class="container" id="content_container">
        <div class="row">
            <div class="column12 last">
				<div class="column12">
					<span class="page_title">当前位置：宣传及促销管理 &raquo;促销活动</span>
				</div>
			 <span style="maring:10px 5px;"><h3>&raquo;促销活动</h3></span>
		     <div id="promotionGrid"></div>
            </div>
        </div>
    </div>
</div>

<!-- gird toobar 模板 -->
<script type="text/x-kendo-template" id="toolbar_template_promotion">
	<button class="k-button" onclick="return promotion.addPromotion();">
		<span class="k-icon k-add"></span>
		<span data-fsn-text="Add">新增</span>
   </button>&nbsp;&nbsp;
</script>

<!-- 删除提示信息框 -->
<div id="CONFIRM_COMMON_WIN">
		<div id="listView">
			<div id="CONFIRM_MSG" style="text-align: center;"></div>
			<br/>
			<div style="text-align: right;">
				<button id="confirm_yes_btn"><span class="k-icon k-update"></span><label data-fsn-text="OK"></label></button> &nbsp;&nbsp;&nbsp;&nbsp;
			    <button id="confirm_no_btn"><span class="k-icon k-cancel"></span><label data-fsn-text="Cancel"></label></button>&nbsp;&nbsp;
			</div>
		</div>
</div>

<!-- 页面提示信息框 -->
<span id="RETURN_MES" style="display:none;"></span>
<script id="errorTemplate" type="text/x-kendo-template">
  <div class="wrong-pass">
     <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
     <br/>
     <img src="../../resource/img/error-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
<script id="successTemplate" type="text/x-kendo-template">
  <div class="upload-success">
  <img src="../../resource/img/error-icon.png" style="display: inline-block;margin-left: 300px; margin-top: 10px;text-align: center;" width="20px" heigth= "20px"/>
  <br/>
  <img src="../../resource/img/success-icon.png" style="margin-top: 5px;"/><h3 style="width:240px; margin-top: -35px;margin-left: 40px;">#= message #</h3>
  </div>
</script>
</body>
</html>
