<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>企业门户</title>
<link rel="stylesheet" type="text/css" href="../../resource/css/newbase.css" />
<link rel="stylesheet" type="text/css" href="../../resource/css/newstyle.css" />
<link rel="stylesheet" type="text/css" href="../../resource/css/s3Slider.css" />
<script type="text/javascript" src="../../resource/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../../resource/js/newjs/loadnews.js"></script>
</head>
<body>
	<!-- 顶部导航-->
	<div id="top" class="topbg heitop w">
		<script>$("#top").load("../common/top-home.html");</script>
    </div>
    <!-- 新闻内容区--> 
	<div class="wicont mgn_center">
    	<div class="wicon mgn_center f34 fyahei tc padtitle" id="news_title">
        </div>
        <div id="main_conent" class="mgn_center wicon">
        </div>

    </div>
    <div id="footer"  class="w mgn_center mt20">
		<script>$("#footer").load("../common/footer.html");</script>
       
    </div>
</body>
</html>
