<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="GBK">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
    </head>  
    <body>  
        <h5>  
             ${userName} 您好：  
        </h5>  
        <h5>     
            &nbsp;&nbsp;&nbsp;&nbsp;您在食品安全云平台的注册账户是：${userName}, 重置后密码为： ${password}, 请勿泄露此密码，并尽快登录修改密码。
        </h5> 
  
--------------------------------------------------------------------  
        <h5>     
            请勿直接回复本邮件，如有任何疑问，联系食品安全与营养（贵州）信息科技有限公司
        </h5>    
    </body>  
</html>