<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10">
<title>食品安全营养信息平台</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="../../resource_new/css/reset.css"/>
<link rel="stylesheet" href="../../resource_new/css/text.css" />
<link rel="stylesheet" href="../../resource_new/css/grid.css" />
<link href="../../resource_new/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
<link href="../../resource_new/kendoui/styles/kendo.metro.min.css" rel="stylesheet" />
<link rel="stylesheet/less" type="text/css" href="../../resource_new/kendoui/styles/kendo.metro.less" />
<link rel="stylesheet/less" type="text/css" href="../../resource_new/css/style.less" />
<link rel="stylesheet" href="../../resource_new/css/manngerUI.css" /> 
<script src="../../resource_new/js/less.js" type="text/javascript"></script>
<script src="../../resource_new/kendoui/js/jquery.min.js"></script>
<script src="../../resource_new/kendoui/js/kendo.web.min.js"></script>
<script src="../../resource_new/js/language/unit_up_zh-cn.js"></script>
<script type="text/javascript" src="../../resource_new/js/headerFooterTemplate.js"></script>
<script type="text/javascript" src="../../resource_new/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../resource_new/js/fsn.js"></script>
<script src="../../resource_new/js/upload/lims.js"></script>
<script src="../../resource_new/js/util.js"></script>
<script src="../../resource_new/js/filter.js"></script>
<script src="../../resource_new/js/upload/lims.i18n.js"></script>
<script src="../../resource_new/js/upload/lims.upload.js"></script>
<script src="../../resource_new/js/business/subsidiary_list.js"></script>
<style type="text/css">
	td{white-space:nowrap;}
</style>
<script>
	$(document).ready(function() {
		$("fieldset input").focus(function() {
			$(this).parent().prev("label").hide();
		});
		$("fieldset input").blur(function() {
			if ($(this).val().trim().length < 1) {
				$(this).parent().prev("label").show();
			}
		});
	});
	
</script>
</head>
<body id="home">

    <div class="fixfooter wi800 fl mt20"> 
     <div class="fullview page_title mt50 wper100 ml20" id="status_bar">
              当前位置：我的企业 >> 旗下企业
      </div>
   
   <div class="wper100 mt15" > 
   		<div class="row ml20">
    		<div class=" wper100 last ">
				<script id="toolbar_template" type="text/x-kendo-template">	
					<div class="fl in-block fonttitle">新增产品</div>
					<span class="fr">						
					<a class="k-button k-button-icontext k-grid-add" href="/fsn-core/views/business/subsidiary.html">
					<span class="k-icon k-add"></span><span class="btntext">新增企业</span></a>
					 <a class="k-button k-button-icontext k-grid-add" href="\#"  onclick="return fsn.unit.batchAdd()"><span class="k-icon k-add"></span><span class="btntext">批量添加</span></a>
					 </span>
					<!--<input id="search"/>-->
				</script>
				<div id="business-contain" class="top ui-widget">
		            <div id='unit' class='grid' style="height: 100%;">
		            </div>
				</div>
				<div id="msg_success" class="msg success function_row" >
				</div>
			</div>
		</div>
	</div>
	 <div id="form_dialog" title="" >    
		           <div>
		               <div id="form" method="post"  enctype="multipart/form-data">             
		                   <div class="row"> 
		                   	<label id="fileEroMsg" style="font-size: 12px;color:red;">
									(注意：文件类型只能为.xls，且一次只能上传一个文件)
								</label> 
		   					<span class="right_area" id='uploadZone'>	
		   						<input name="attachments" id="attachments" type="file"/>
		   						<span style="font-size:14px; color:red; "></span>
		   					</span>
		                   </div>
		                   <br/> <br/>
		                   <div style="text-align: right;"> 
		   				    <label class="left_label">&nbsp;</label> 
		   					<span class="right_area">
		   						<button id="save" type="save"  class='k-button'><span class="k-icon k-update"></span ><span data-lims-text="Submit"></span></button> &nbsp;&nbsp;
		   						<button id="cancel" type="cancel" class='k-button'><span class="k-icon k-cancel"></span ><span data-lims-text="Cancel"></span></button>
		   					</span>
		   					</div>
		                
		   				<div class="row"> 
		   				    <label class="left_label">&nbsp;</label>
		   					<span class="right_area">
		   					    <div class="msg success leftDiv" id="msg_flash" ></div> 
		   					</span>
		   				</div>
		               </div>
		           </div>
		       </div>
	<div id="msg_dialog" title="" >    		         
		               <div id="form" >  
		               	  <div style="height:50px;">           
		                   	<div class="row"> 
		                   		<span id="successMsg">
		   						</span>	
		                  	</div>	
		                  		<div class="row"> 
		                   		<span id="faildMsg" style="color:red;">
		   						</span>	
		                  	</div> 
		                  </div>	
                            <div id='showdialog_msg'></div>                
		                   	<div style="position:fixed;text-align: right;text-valign:bottom;bottom:10px;right:25px ;"> 
		   				    	<label >&nbsp;</label> 
		   						<span >
		   							&nbsp;&nbsp;<button id="confirm"  class='k-button'><span class="k-icon k-update"></span ><span data-lims-text="OK"></span></button> 		   						
		   						</span>
		   					</div>
		               </div>	           
		       </div>
	<div id="CONFIRM_COMMON_WIN" style="display:none;">
			<div id="listView">
				<div id="CONFIRM_MSG" style="text-align: center;">
				</div>
				<br/>
				<div style="text-align: right;">
					<button id="confirm_yes_btn"><span class="k-icon k-update"></span><label data-lims-text="OK"></label></button> &nbsp;&nbsp;&nbsp;&nbsp;
				<button id="confirm_no_btn"><span class="k-icon k-cancel"></span><label data-lims-text="Cancel"></label></button>&nbsp;&nbsp;
				</div>
			</div>
	</div>
	<div class="push"></div>
	<div id="msgWindow">
		<span></span> 
	</div>
</div>
</body>
</html>